openapi: 3.1.0
info:
  version: latest
  title: Core APIs
  contact:
    name: Rebilly API Support
    url: https://www.rebilly.com/contact/
    email: integrations@rebilly.com
  license:
    name: Rebilly
    url: https://www.rebilly.com/api-license/
  termsOfService: https://www.rebilly.com/terms-of-use/
  x-logo:
    url: https://rebilly-core.redoc.ly/rb_apiLogo.svg
    backgroundColor: '#0044d4'
  description: >
    # Introduction

    [comment]: <> (x-product-description-placeholder)

    The Rebilly API is built on HTTP and is RESTful.

    It has predictable resource URLs and returns HTTP response codes to indicate
    errors.

    It also accepts and returns JSON in the HTTP body.

    Use your favorite HTTP/REST library in your programming language when using
    this API,

    or use one of the Rebilly SDKs,

    which are available in [PHP](https://github.com/Rebilly/rebilly-php) and
    [JavaScript](https://github.com/Rebilly/rebilly-js-sdk).


    Every action in the [Rebilly UI](https://app.rebilly.com) is supported by an
    API which is documented and available for use, so that you may automate any
    necessary workflows or processes.

    This API reference documentation contains the most commonly integrated
    resources.


    # Authentication


    This topic describes the different forms of authentication that are
    available in the Rebilly API, and how to use them.


    Rebilly offers four forms of authentication: secret key, publishable key,
    JSON Web Tokens, and public signature key.


    - Secret API key: Use to make requests from the server side. Never share
    these keys. Keep them guarded and secure.

    - Publishable API key: Use in your client-side code to tokenize payment
    information.

    - JWT: Use to make short-life tokens that expire after a set period of time.


    <!-- ReDoc-Inject: <security-definitions> -->


    ## Manage API keys


    To create or manage API keys, select one of the following:


    - Use the Rebilly UI: see [Manage API
    keys](https://www.rebilly.com/docs/dev-docs/api-keys/#manage-api-keys)

    - Use the Rebilly API: see the [API key
    operations](https://www.rebilly.com/catalog/all/api-keys).


    For more information on API keys, see [API
    keys](https://www.rebilly.com/docs/concepts-and-features/concept/api-keys).


    # Errors

    Rebilly follows the error response format proposed in [RFC
    9457](https://tools.ietf.org/html/rfc9457), which is also known as Problem
    Details for HTTP APIs. As with any API responses, your client must be
    prepared to gracefully handle additional members of the response.


    # SDKs


    Rebilly provides a JavaScript SDK and a PHP SDK to help interact with the
    Rebilly API.

    However, no SDK is required to use the API.


    Rebilly also provides
    [FramePay](https://www.rebilly.com/docs/developer-docs/framepay/),

    a client-side iFrame-based solution, to help create payment tokens while
    minimizing PCI DSS compliance burdens

    and maximizing your customization ability.

    [FramePay](https://www.rebilly.com/docs/developer-docs/framepay/) interacts
    with the [payment tokens creation
    operation](https://www.rebilly.com/catalog/all/payment-tokens/posttoken).


    ## JavaScript SDK


    For installation and usage instructions, see
    [SDKs](https://www.rebilly.com/docs/dev-docs/sdks/).

    All JavaScript SDK code examples are included in the API reference
    documentation.


    ## PHP SDK


    For installation and usage instructions, see
    [SDKs](https://www.rebilly.com/docs/dev-docs/sdks/).

    All SDK code examples are included in the API reference documentation.

    To use them, you must configure the `$client` as follows:


    ```php

    $client = new Rebilly\Client([
        'apiKey' => 'YourApiKeyHere',
        'baseUrl' => 'https://api.rebilly.com',
    ]);

    ```


    # Get started


    The full [Rebilly API](https://www.rebilly.com/catalog/all/) has over 500
    operations.

    This is likely more than you may need to implement your use cases.

    If you would like to implement a particular use case,

    [contact Rebilly](https://www.rebilly.com/support/) for guidance and
    feedback on the best API operations to use for the task.


    To integrate Rebilly, and learn about related resources and concepts,

    see [Get started](https://www.rebilly.com/docs/dev-docs/get-started/).
security:
  - SecretApiKey: []
  - JWT: []
servers:
  - url: https://api-sandbox.rebilly.com/organizations/{organizationId}
    description: Sandbox server
    variables:
      organizationId:
        default: unknown
        description: >-
          Unique organization identifier.

          An organization is an entity that represents a company.

          For more information, see [Obtain an organization
          ID](https://www.rebilly.com/docs/settings/organizations-and-websites/#obtain-your-organization-id-and-website-id).
  - url: https://api.rebilly.com/organizations/{organizationId}
    description: Live server
    variables:
      organizationId:
        default: unknown
        description: >-
          Unique organization identifier.

          An organization is an entity that represents a company.

          For more information, see [Obtain an organization
          ID](https://www.rebilly.com/docs/settings/organizations-and-websites/#obtain-your-organization-id-and-website-id).
components:
  securitySchemes:
    JWT:
      description: >-
        JWT is a short lifetime token that can be assigned a specific expiration
        time.


        Usage format: `Bearer <JWT>`.
      type: http
      scheme: bearer
      bearerFormat: JWT
    ApplicationJWT:
      description: >-
        Applications in the Rebilly App Store can create a JSON Web Token (JWT)
        by fetching an user's instance.

        For more information, see [Retrieve an application
        instance](https://www.rebilly.com/catalog/all/application-owners/getapplicationinstancebyorganization/).


        Usage format: `Bearer <JWT>`.
      type: http
      scheme: bearer
      bearerFormat: JWT
    PublishableApiKey:
      description: >-
        This authentication method is applicable to specific operations.


        To create a publishable API key, see [Create an API
        key](https://www.rebilly.com/catalog/all/api-keys/postapikey).
      name: Authorization
      type: apiKey
      in: header
    SecretApiKey:
      description: |-
        Never share your secret keys.
        Keep them guarded and secure.

        Use your secret API key only to make requests from the server side.
        To authenticate, provide your secret key in the request header.
      name: REB-APIKEY
      type: apiKey
      in: header
    CustomerJWT:
      description: >-
        To create a JSON Web Token (JWT) using Storefront authentication,

        see [Create a session with username and
        password](https://www.rebilly.com/catalog/all/storefront-account/storefrontpostlogin).


        Usage format: `Bearer <JWT>`.
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    collectionLimit:
      name: limit
      in: query
      description: Limits the number of collection items to be returned.
      schema:
        type: integer
        minimum: 0
        maximum: 1000
    collectionOffset:
      name: offset
      in: query
      description: >-
        Specifies the starting point within the collection of items to be
        returned.
      schema:
        type: integer
        minimum: 0
        maximum: 1000
    collectionSort:
      name: sort
      in: query
      description: >-
        Sorts and orders the collection of items. To sort in descending

        order, prefix with `-`. Multiple fields can be sorted by separating each
        with `,`.
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
    collectionFilter:
      name: filter
      in: query
      description: >-
        Filters the collection items. This field requires

        a special format. Use `,` for multiple allowed values.  Use `;` for
        multiple fields.


        For more information, see

        [Using filter with
        collections](https://www.rebilly.com/docs/dev-docs/search-filters).
      schema:
        type: string
    collectionQuery:
      name: q
      in: query
      description: Use this field to perform a partial search of text fields.
      schema:
        type: string
    resourceId:
      name: id
      in: path
      description: ID of the resource.
      required: true
      schema:
        type: string
        maxLength: 50
        pattern: ^[@~\-\.\w]+$
    collectionExpand:
      name: expand
      in: query
      description: >-
        Expands a request to include embedded objects within the `_embedded`

        property of the response. This field accepts a comma-separated list of
        objects.


        For more information, see

        [Expand to include embedded
        objects](https://www.rebilly.com/docs/dev-docs/expand-embedded-resources).
      schema:
        type: string
    collectionFields:
      name: fields
      in: query
      description: >-
        Limits the returned fields to the specified list, each field separated
        by a comma.

        The ID value is always returned.
      schema:
        type: string
    customFieldResource:
      name: resource
      in: path
      description: Type of resource schema.
      required: true
      schema:
        type: string
        enum:
          - customers
          - payment-instruments
          - subscriptions
          - transactions
          - websites
          - products
          - plans
          - bump-offers
          - gateway-accounts
          - deposit-requests
    externalIdentifierResource:
      name: resource
      in: path
      description: Type of the resource.
      required: true
      schema:
        type: string
        enum:
          - customers
          - invoices
          - invoice-items
          - transactions
          - journal-accounts
          - journal-entries
    externalIdentifierResourceId:
      name: resourceId
      in: path
      description: ID of the resource.
      required: true
      schema:
        type: string
        maxLength: 50
        pattern: ^[@~\-\.\w]+$
    externalIdentifierService:
      name: service
      in: path
      description: Name of the service.
      required: true
      schema:
        type: string
        enum:
          - quickbooks-online
    imageSize:
      name: imageSize
      in: query
      description: >-
        Resize image to specified size.

        Supports any sizes from 10x10 to 2000x2000, in the following format:
        `{width}x{height}`.

        If the value is invalid, the image returns the original size.

        This parameter is ignored for non-image files.
      schema:
        type: string
        example: 700x700
        pattern: ^[1-9]{1}[0-9]{1,3}x[1-9]{1}[0-9]{1,3}$
    applicationId:
      name: applicationId
      in: path
      description: ID of the application.
      required: true
      schema:
        type: string
        maxLength: 50
        pattern: ^[@~\-\.\w]+$
    organizationId:
      name: organizationId
      in: path
      description: >-
        Unique organization identifier.

        An organization is an entity that represents a company.

        For more information, see [Obtain an organization
        ID](https://www.rebilly.com/docs/settings/organizations-and-websites/#obtain-your-organization-id-and-website-id).
      required: true
      schema:
        type: string
        maxLength: 50
        pattern: ^[@~\-\.\w]+$
    mediaTypeJsonPdf:
      name: Accept
      in: header
      description: Type of response media.
      schema:
        type: string
        enum:
          - application/json
          - application/pdf
        default: application/json
    journalRecordId:
      name: journalRecordId
      in: path
      description: ID of the journal record.
      required: true
      schema:
        type: string
        maxLength: 50
        pattern: ^[@~\-\.\w]+$
    subscriptionExpand:
      name: expand
      in: query
      description: >-
        Expand a response to receive a full related object in the `_embedded`
        path.


        To expand multiple objects, use a comma-separated list.

        Example: `expand=recentInvoice,initialInvoice`.


        Available arguments are:

          - `customer`
          - `leadSource`
          - `website`
          - `shippingRate`
          - `initialInvoice`
          - `recentInvoice`
          - `upcomingInvoice`
          - `paymentInstrument`

        For more information, see [Expand to include embedded
        objects](https://www.rebilly.com/docs/dev-docs/expand-embedded-resources).
      schema:
        type: string
    tag:
      name: tag
      in: path
      description: Name of the tag.
      required: true
      schema:
        type: string
        pattern: ^[@~\-\.\w\s]+$
    customerId:
      name: customerId
      in: path
      description: ID of the customer.
      required: true
      schema:
        type: string
        maxLength: 50
        pattern: ^[@~\-\.\w]+$
    kycDocumentId:
      name: kycDocumentId
      in: path
      description: ID of the KYC document.
      required: true
      schema:
        type: string
        maxLength: 50
        pattern: ^[@~\-\.\w]+$
    credentialType:
      name: type
      in: path
      description: Type of service credential.
      required: true
      schema:
        type: string
        enum:
          - smtp
          - webhook
          - mailgun
          - sendgrid
          - aws-ses
          - oauth2
          - postmark
          - experian
          - taxjar
          - avalara
          - plaid
    token:
      name: token
      in: path
      description: Token string.
      required: true
      schema:
        type: string
    systemEventType:
      name: eventType
      in: path
      description: Type of event.
      required: true
      schema:
        type: string
    rulesVersion:
      name: version
      in: path
      required: true
      description: >-
        Version of the ruleset.


        To retrieve the full related object instead of the ID, expand the
        response.

        For more information, see [Expand to include embedded
        objects](#section/Expand-to-include-embedded-objects).
      schema:
        type: integer
        minimum: 1
    integrationLabel:
      name: label
      in: path
      description: Label of the integration.
      required: true
      schema:
        type: string
        enum:
          - google-sheets
          - keap-infusionsoft
          - intuit-quickbooks
    storefrontCustomFieldResource:
      name: resource
      in: path
      description: Type of resource schema.
      required: true
      schema:
        type: string
        enum:
          - customers
          - payment-instruments
          - subscriptions
          - transactions
  headers:
    Pagination-Total:
      description: Total number of items.
      schema:
        type: integer
      example: 332
    Pagination-Limit:
      description: Maximum number of items per page.
      schema:
        type: integer
      example: 100
    Pagination-Offset:
      description: |-
        Specifies the starting point within the
        collection of resource results. For example, a request with
        `limit=20` retrieves and displays the first 20 results on a page. A
        following request with `limit=20` and `offset=20`, retrieves the next
        page of 20 results.
      schema:
        type: integer
      example: 2
    Location:
      description: Location of the related resource.
      schema:
        type: string
        format: uri
      example: https://api.rebilly.com/example
  schemas:
    CreatedTime:
      type: string
      description: Date and time which is set automatically when the resource is created.
      format: date-time
      readOnly: true
      x-sortable: true
      x-label: Creation Time
    UpdatedTime:
      type: string
      description: Date and time which updates automatically when the resource is updated.
      format: date-time
      readOnly: true
      x-sortable: true
      x-label: Last Update Time
    ResourceId:
      type: string
      description: Unique resource ID.
      maxLength: 50
      example: 4f6cf35x-2c4y-483z-a0a9-158621f77a21
    SelfLink:
      type: array
      description: Related links.
      readOnly: true
      items:
        type: object
        properties:
          href:
            description: Link URL.
            type: string
          rel:
            description: Type of link.
            type: string
            enum:
              - self
    Tag:
      type: object
      description: >-
        Use tags to organize and categorize customers or KYC documents based on
        keywords.

        For more information, see
        [Tags](https://www.rebilly.com/docs/dev-docs/api/tags/).
      required:
        - name
        - type
      properties:
        id:
          description: ID of the tag.
          readOnly: true
          $ref: '#/components/schemas/ResourceId'
        name:
          description: |-
            Unique name for the tag.
            Tag names are not case-sensitive.
          type: string
          maxLength: 255
          pattern: ^[@~\-\.\w\s]+$
          example: New
        type:
          description: >-
            Type of tag.

            Tags of a specific type can only be assigned to corresponding entity
            types.

            For example, you can only use customer tags on customers.
          type: string
          enum:
            - customer
            - kyc-document
            - aml-check
        createdTime:
          $ref: '#/components/schemas/CreatedTime'
        updatedTime:
          $ref: '#/components/schemas/UpdatedTime'
        _links:
          $ref: '#/components/schemas/SelfLink'
    AML:
      type: object
      properties:
        firstName:
          type: string
          description: First name of the individual, or name of entity.
          readOnly: true
          example: Benjamin
        lastName:
          type:
            - string
            - 'null'
          description: >-
            Last name of the individual. Returns a `null` value for single-named
            entities.
          readOnly: true
          example: Franklin
        source:
          type: string
          readOnly: true
          description: Describes which list the result is from.
        sourceType:
          readOnly: true
          description: Describes the categories of the individual or entity.
          type: array
          example:
            - sanctions
            - enforcements
          items:
            type: string
            enum:
              - pep
              - sanctions
              - adverse-media
              - enforcements
              - state-owned-enterprise
        gender:
          type:
            - string
            - 'null'
          readOnly: true
          description: >-
            If `type`=`individual`, this field describes the gender of the
            individual.
        title:
          type:
            - array
            - 'null'
          readOnly: true
          description: Individual's job title.
          example:
            - Postmaster General
            - Ambassador to France
            - Ambassador to Sweden
            - Supreme Executive Council of Commonwealth of Pennsylvania
          items:
            type: string
        type:
          type: string
          readOnly: true
          description: Describes whether the source is an individual or an entity.
          enum:
            - individual
            - entity
        legalBasis:
          type: array
          readOnly: true
          description: List of references to legal documents, if they exist.
          items:
            type: string
        regime:
          type:
            - string
            - 'null'
          readOnly: true
          description: Describes the government, administration, or political entity.
          example: United States Government
        confidence:
          type: string
          description: Degree of confidence in the source list information.
          readOnly: true
          enum:
            - weak
            - medium
            - strong
            - very-strong
        nationality:
          type: string
          readOnly: true
          description: Nationality of the individual or entity.
        address:
          type: array
          readOnly: true
          description: Addresses associated with the individual or entity.
          items:
            type: object
            properties:
              address:
                type:
                  - string
                  - 'null'
                readOnly: true
                description: Street address line 1.
              address2:
                type:
                  - string
                  - 'null'
                readOnly: true
                description: Street address line 2.
              city:
                type:
                  - string
                  - 'null'
                readOnly: true
                description: City.
              region:
                type:
                  - string
                  - 'null'
                readOnly: true
                description: State, province, or region.
              country:
                type:
                  - string
                  - 'null'
                readOnly: true
                description: Country.
              birthplace:
                type: boolean
                default: false
                readOnly: true
                description: Individual's place of birth.
        dob:
          type: array
          readOnly: true
          description: One or more possible dates of birth.
          items:
            type: string
            readOnly: true
            description: Date of birth.
            format: date
            example: '1706-01-17'
        aliases:
          type: array
          readOnly: true
          description: List of aliases, if any.
          items:
            type: object
            properties:
              firstName:
                type: string
                description: First name of alias.
                readOnly: true
              lastName:
                type: string
                description: Last name of alias.
                readOnly: true
              authenticity:
                type: string
                description: Degree of confidence in the alias.
                readOnly: true
                enum:
                  - strong
                  - weak
                  - unknown
        passport:
          type: array
          readOnly: true
          description: Individual's passport information.
          items:
            type: object
            properties:
              number:
                type: string
                readOnly: true
                description: Passport number.
              registrationDate:
                type: string
                format: date
                readOnly: true
                description: Passport registration date.
        comments:
          type:
            - string
            - 'null'
          readOnly: true
          description: Additional information. This content varies per list.
        _links:
          $ref: '#/components/schemas/SelfLink'
    AmlCheck:
      type: object
      readOnly: true
      description: AML check result.
      properties:
        id:
          type: string
          description: Unique resource ID.
          maxLength: 50
          example: aml_chk_0YV8XJT2ZWDR398Q8NFEM7DEPM
        createdTime:
          $ref: '#/components/schemas/CreatedTime'
        updatedTime:
          $ref: '#/components/schemas/UpdatedTime'
        websiteId:
          type: string
          description: Website ID associated with the customer.
          maxLength: 50
          example: web_0YV7DE4Z26DQSA1AC92FBJ7SEG
        reviewerId:
          type:
            - string
            - 'null'
          maxLength: 50
          description: User ID of the person who reviewed the AML check.
          example: 44433322-2c4y-483z-a0a9-158621f77a21
        reviewerName:
          type:
            - string
            - 'null'
          description: First and last name of the person who reviewed the AML check.
        reviewStartTime:
          type:
            - string
            - 'null'
          format: date-time
          description: Date and time when the AML check review is started.
        reviewTime:
          type:
            - string
            - 'null'
          format: date-time
          description: Date and time when the AML check review is completed.
        priority:
          type:
            - string
            - 'null'
          default: null
          description: Highest matched priority of all hits within an AML check.
        source:
          type: string
          description: Source of the AML check.
          enum:
            - sign-up
            - recurring
            - purchase
        status:
          type: string
          description: Status of the AML check.
          readOnly: true
          enum:
            - pending-review
            - in-review
            - no-match
            - confirmed-match
            - false-positive
          x-enumDescriptions:
            pending-review: Possible AML match detected and waiting to be manually reviewed.
            in-review: A manual AML match review is in progress.
            no-match: No possible AML match detected.
            confirmed-match: Possible AML match manually reviewed and marked as confirmed.
            false-positive: Possible AML match manually reviewed and marked as false positive.
        customer:
          type: object
          properties:
            id:
              description: ID of the customer.
              $ref: '#/components/schemas/ResourceId'
            primaryAddress:
              type: object
              description: Customer's data at the time of the AML check.
              properties:
                firstName:
                  type: string
                  maxLength: 45
                  description: Customer's first name at the time of the AML check.
                lastName:
                  type: string
                  maxLength: 45
                  description: Customer's last name at the time of the AML check.
                dob:
                  type:
                    - string
                    - 'null'
                  format: date
                  description: Customer's date of birth.
                  example: '1971-02-14'
                address:
                  description: >-
                    First line of the customer's street address at the time of
                    the AML check.
                  type:
                    - string
                    - 'null'
                  pattern: ^[\w\s\-\/\p{L},.#;:()'&]+$
                  maxLength: 60
                  example: 36 Craven St
                address2:
                  description: >-
                    Second line of the customer's street address at the time of
                    the AML check.
                  type:
                    - string
                    - 'null'
                  pattern: ^[\w\s\-\/\p{L},.#;:()'&]+$
                  maxLength: 60
                city:
                  description: Customer's city of residence at the time of the AML check.
                  type:
                    - string
                    - 'null'
                  pattern: ^[\w\s\-\p{L},.']+$
                  maxLength: 45
                  example: Austin
                region:
                  description: Customer's region of residence at the time of the AML check.
                  type:
                    - string
                    - 'null'
                  pattern: ^[\w\s\-\/\p{L},.#;:()']+$
                  maxLength: 45
                  example: Texas
                country:
                  type:
                    - string
                    - 'null'
                  description: >-
                    Customer's country of residence at the time of the AML
                    check.
                postalCode:
                  description: Customer's postal code at the time of the AML check.
                  type:
                    - string
                    - 'null'
                  pattern: ^[\w\s\-]+$
                  maxLength: 10
                  example: WC2N 5NF
            tags:
              description: List of tags that have been assigned to the customer.
              type: array
              items:
                $ref: '#/components/schemas/Tag'
            organizationId:
              type: string
              description: ID of the customer's organization.
              maxLength: 50
              example: org_0YVDM8RC7GDADADSBSMW124JA8
        hits:
          description: List of hits returned during the AML check.
          type: array
          items:
            $ref: '#/components/schemas/AML'
        tags:
          description: List of AML check tags.
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/Tag'
        _links:
          type: array
          description: Related links.
          items:
            type: object
            properties:
              href:
                description: Link URL.
                type: string
              rel:
                description: Type of link.
                type: string
                enum:
                  - self
                  - customer
    BaseProblem:
      type: object
      additionalProperties: true
      minProperties: 1
      description: >-
        RFC-7807 [problem details](https://tools.ietf.org/html/rfc7807) JSON
        object.
      properties:
        type:
          type: string
          description: >-
            Problem type in the form of a
            [URI](https://tools.ietf.org/html/rfc3986) reference.

            It should provide human-readable documentation for the problem type.

            When this member is not present, its value is assumed to be
            "about:blank".
          format: uri
        title:
          type: string
          description: >-
            Short, human-readable summary of the problem type.

            Other than for the purposes of localization, this should not change
            from occurrence to occurrence of the problem.
        detail:
          type: string
          description: >-
            Human-readable explanation that is specific to this occurrence of
            the problem.
        instance:
          type: string
          description: >-
            URI reference that identifies the specific occurrence of the
            problem.

            It may or may not yield further information if dereferenced.
    Unauthorized:
      allOf:
        - title: Unauthorized
        - type: object
          properties:
            status:
              type: integer
              description: HTTP status code.
              minimum: 401
              maximum: 401
        - $ref: '#/components/schemas/BaseProblem'
    Forbidden:
      allOf:
        - title: Forbidden
        - type: object
          properties:
            status:
              type: integer
              description: HTTP status code.
              minimum: 403
              maximum: 403
        - $ref: '#/components/schemas/BaseProblem'
    NotFound:
      allOf:
        - type: object
          properties:
            status:
              type: integer
              description: HTTP status code.
              minimum: 404
              maximum: 404
        - $ref: '#/components/schemas/BaseProblem'
    ValidationError:
      allOf:
        - title: Validation error
        - type: object
          properties:
            status:
              type: integer
              description: HTTP status code.
              minimum: 422
              maximum: 422
        - $ref: '#/components/schemas/BaseProblem'
        - type: object
          properties:
            invalidFields:
              description: Invalid field details.
              type: array
              items:
                type: object
                properties:
                  field:
                    type: string
                    description: |-
                      Name of the field.
                      Dot notation is used for nested object field names.
                  message:
                    description: Message field.
                    type: string
              example:
                - field: field1
                  message: field1 is invalid
                - field: subObject.field2
                  message: field2 is invalid
                - field: subObject.field2
                  message: another error in the field2
    AmlCheckReview:
      type: object
      description: AML check review.
      properties:
        tag:
          type: string
          description: AML-related customer tag.
          enum:
            - aml-match-confirmed
            - aml-match-false-positive
    AmlConfidence:
      type:
        - string
        - 'null'
      description: Degree of confidence to assign.
      enum:
        - weak
        - medium
        - strong
        - very-strong
    AmlCompoundConfidence:
      type: object
      properties:
        addressMatch:
          type: object
          description: Match for the customer's city or region, or both, is found.
          properties:
            matchingCountry:
              $ref: '#/components/schemas/AmlConfidence'
            mismatchingCountry:
              $ref: '#/components/schemas/AmlConfidence'
            noCountry:
              $ref: '#/components/schemas/AmlConfidence'
        addressMismatch:
          type: object
          description: Match for the customer's city or region, or both, is not found.
          properties:
            matchingCountry:
              $ref: '#/components/schemas/AmlConfidence'
            mismatchingCountry:
              $ref: '#/components/schemas/AmlConfidence'
            noCountry:
              $ref: '#/components/schemas/AmlConfidence'
        noAddress:
          type: object
          description: No city and no region is available to match against.
          properties:
            matchingCountry:
              $ref: '#/components/schemas/AmlConfidence'
            mismatchingCountry:
              $ref: '#/components/schemas/AmlConfidence'
            noCountry:
              $ref: '#/components/schemas/AmlConfidence'
    AmlPriority:
      type:
        - string
        - 'null'
      description: Priority level of matched AML customer information.
      default: null
      enum:
        - p0
        - p1
        - p2
        - p3
    AmlSettings:
      type: object
      description: Settings for AML checking.
      properties:
        confidence:
          type: object
          description: Confidence level settings for AML matches.
          properties:
            dob:
              type: object
              description: >-
                Confidence level settings for AML matches based on date of
                birth.
              properties:
                exactMatch:
                  description: >-
                    Exact match of the customer's date of birth and name is
                    found.
                  $ref: '#/components/schemas/AmlCompoundConfidence'
                inexactMatch:
                  description: >-
                    Exact match of the customer's date of birth and a fuzzy, or
                    inexact, name match is found.
                  $ref: '#/components/schemas/AmlCompoundConfidence'
            noDob:
              type: object
              description: >-
                Confidence level settings for AML matches based on a missing
                date of birth.
              properties:
                exactMatch:
                  description: >-
                    Exact match of the customer's name is found, but a date of
                    birth is not.
                  $ref: '#/components/schemas/AmlCompoundConfidence'
                inexactMatch:
                  description: >-
                    Fuzzy, or inexact match of the customer's name is found, but
                    a date of birth is not.
                  $ref: '#/components/schemas/AmlCompoundConfidence'
                weakMatch:
                  description: >-
                    Weak match of the customer's name is found, but a date of
                    birth is not.
                  $ref: '#/components/schemas/AmlCompoundConfidence'
            yob:
              type: object
              description: >-
                Confidence level settings for AML matches based on year of
                birth.
              properties:
                exactMatch:
                  description: >-
                    Exact match of the customer's year of birth and exact name
                    is found.
                  $ref: '#/components/schemas/AmlCompoundConfidence'
                inexactMatch:
                  description: >-
                    Exact match of the customer's year of birth and a fuzzy, or
                    inexact, name match is found.
                  $ref: '#/components/schemas/AmlCompoundConfidence'
            inexactYob:
              type: object
              description: >-
                Confidence level settings for AML matches based on a near match
                of year of birth.
              properties:
                exactMatch:
                  description: >-
                    Near match of the customer's year of birth and an exact name
                    match is found.
                  $ref: '#/components/schemas/AmlCompoundConfidence'
                inexactMatch:
                  description: >-
                    Near match of the customer's year of birth and a fuzzy, or
                    inexact, name match is found.
                  $ref: '#/components/schemas/AmlCompoundConfidence'
        priority:
          type: object
          description: |-
            Priority level settings for AML source matches. \
            `p0` is critical priority level, and `p3` is low priority level.
          properties:
            pep:
              type: object
              description: Priorities for the `pep` source type.
              properties:
                veryStrong:
                  $ref: '#/components/schemas/AmlPriority'
                strong:
                  $ref: '#/components/schemas/AmlPriority'
                medium:
                  $ref: '#/components/schemas/AmlPriority'
                weak:
                  $ref: '#/components/schemas/AmlPriority'
            enforcements:
              type: object
              description: Priorities for the `enforcement` source type.
              properties:
                veryStrong:
                  $ref: '#/components/schemas/AmlPriority'
                strong:
                  $ref: '#/components/schemas/AmlPriority'
                medium:
                  $ref: '#/components/schemas/AmlPriority'
                weak:
                  $ref: '#/components/schemas/AmlPriority'
            stateOwnedEnterprise:
              type: object
              description: Priorities for the `state-owned-enterprise` source type.
              properties:
                veryStrong:
                  $ref: '#/components/schemas/AmlPriority'
                strong:
                  $ref: '#/components/schemas/AmlPriority'
                medium:
                  $ref: '#/components/schemas/AmlPriority'
                weak:
                  $ref: '#/components/schemas/AmlPriority'
            sanctions:
              type: object
              description: Priorities for the `sanctions` source type.
              properties:
                veryStrong:
                  $ref: '#/components/schemas/AmlPriority'
                strong:
                  $ref: '#/components/schemas/AmlPriority'
                medium:
                  $ref: '#/components/schemas/AmlPriority'
                weak:
                  $ref: '#/components/schemas/AmlPriority'
            adverseMedia:
              type: object
              description: Priorities for the `adverse-media` source type.
              properties:
                veryStrong:
                  $ref: '#/components/schemas/AmlPriority'
                strong:
                  $ref: '#/components/schemas/AmlPriority'
                medium:
                  $ref: '#/components/schemas/AmlPriority'
                weak:
                  $ref: '#/components/schemas/AmlPriority'
    Attachment:
      type: object
      required:
        - fileId
        - relatedId
        - relatedType
      properties:
        id:
          type: string
          readOnly: true
          description: ID of the attachment.
          maxLength: 50
          example: att_0YV7J787J0DW0918MQQMDHWA7M
        fileId:
          type: string
          description: ID of the linked file object.
          maxLength: 50
          example: file_0YV7HZ7KDCC5WBV9Q7WRKG1H6N
        relatedType:
          description: Linked object type.
          type: string
          enum:
            - customer
            - customer-timeline-comment
            - customer-edd-timeline-comment
            - dispute
            - gateway-timeline-comment
            - invoice
            - invoice-timeline-comment
            - order-timeline-comment
            - organization
            - payment
            - plan
            - product
            - subscription
            - transaction
            - transaction-timeline-comment
        relatedId:
          description: ID of the linked object.
          type: string
        name:
          description: Name of original attachment.
          type: string
        description:
          description: Description of the attachment.
          type: string
        createdTime:
          $ref: '#/components/schemas/CreatedTime'
        updatedTime:
          $ref: '#/components/schemas/UpdatedTime'
        _links:
          type: array
          description: Related links.
          readOnly: true
          items:
            type: object
            properties:
              href:
                description: Link URL.
                type: string
              rel:
                description: Type of link.
                type: string
                enum:
                  - self
                  - file
        _embedded:
          type: object
          description: Embedded objects that are requested by the `expand` query parameter.
          readOnly: true
          properties:
            file:
              type: object
    Conflict:
      allOf:
        - title: Conflict
        - type: object
          properties:
            status:
              type: integer
              description: HTTP status code.
              minimum: 409
              maximum: 409
        - $ref: '#/components/schemas/BaseProblem'
    AuthenticationOptions:
      type: object
      properties:
        passwordPattern:
          description: Allowed password pattern.
          type:
            - string
            - 'null'
          example: /^[0-9]+$/
        credentialTtl:
          description: Default credential lifetime, in seconds.
          type: integer
        authTokenTtl:
          description: Default auth-token lifetime, in seconds.
          type: integer
        resetTokenTtl:
          description: Default reset-token lifetime, in seconds.
          type: integer
        otpRequired:
          description: >-
            Specifies if a One-Time Password (OTP) is required to exchange a
            token.
          type: boolean
        _links:
          $ref: '#/components/schemas/SelfLink'
    CustomerId:
      type: string
      description: ID of the customer resource.
      maxLength: 50
      example: cus_0YV7DDSDD1C8DA64KHH2W33CPF
      x-basic: true
    AuthenticationTokenResponse:
      type: object
      title: Authentication token
      required:
        - username
      properties:
        username:
          description: >-
            Username of the customer who is associated with the authentication
            token.
          type: string
        customerId:
          readOnly: true
          allOf:
            - $ref: '#/components/schemas/CustomerId'
        token:
          description: ID of the authentication token.
          type: string
          readOnly: true
        otpRequired:
          description: >-
            Specifies if a One-Time Password (OTP) is required to exchange the
            authentication token.
          type: boolean
        credentialId:
          description: ID of the user associated with the authentication token.
          readOnly: true
          $ref: '#/components/schemas/ResourceId'
        expiredTime:
          description: Date and time when the token expired.
          type:
            - string
            - 'null'
          format: date-time
        _links:
          $ref: '#/components/schemas/SelfLink'
    AuthenticationTokenPasswordMode:
      type: object
      required:
        - username
        - password
      properties:
        username:
          description: Username associated with the authentication token.
          type: string
        password:
          description: Password associated with the authentication token.
          type: string
          format: password
          writeOnly: true
        mode:
          type: string
          description: >-
            Specifies the authentication verification method.

            The `password` token requires the user to enter a password to log
            in.

            The `passwordless` token, requires a secret API key to log in.

            To obtain an API key, see [Manage API
            keys](https://www.rebilly.com/docs/dev-docs/api-keys/#manage-api-keys).
          writeOnly: true
          enum:
            - password
        customerId:
          readOnly: true
          allOf:
            - $ref: '#/components/schemas/CustomerId'
        token:
          description: ID of the authentication token.
          type: string
          readOnly: true
        otpRequired:
          description: >-
            Specifies if a One-Time Password (OTP) is required to exchange the
            authentication token.
          type: boolean
        credentialId:
          description: ID of the user associated with the authentication token.
          readOnly: true
          $ref: '#/components/schemas/ResourceId'
        expiredTime:
          description: Date and time when the token expired.
          type: string
          format: date-time
        _links:
          $ref: '#/components/schemas/SelfLink'
    AuthenticationTokenPasswordlessMode:
      type: object
      required:
        - customerId
      properties:
        customerId:
          $ref: '#/components/schemas/CustomerId'
        mode:
          type: string
          description: >-
            Specifies the authentication verification method.

            The `password` token requires the user to enter a password to log
            in.

            The `passwordless` token, requires a secret API key to log in.

            To obtain an API key, see [Manage API
            keys](https://www.rebilly.com/docs/dev-docs/api-keys/#manage-api-keys).
          writeOnly: true
          enum:
            - passwordless
        token:
          description: ID of the authentication token.
          type: string
          readOnly: true
        otpRequired:
          description: >-
            Specifies if a One-Time Password (OTP) is required to exchange the
            authentication token.
          type: boolean
        credentialId:
          description: ID of the user associated with the authentication token.
          readOnly: true
          $ref: '#/components/schemas/ResourceId'
        expiredTime:
          description: Date and time when the token expired.
          type: string
          format: date-time
        _links:
          $ref: '#/components/schemas/SelfLink'
    AuthenticationToken:
      type: object
      discriminator:
        propertyName: mode
        mapping:
          password: '#/components/schemas/AuthenticationTokenPasswordMode'
          passwordless: '#/components/schemas/AuthenticationTokenPasswordlessMode'
      oneOf:
        - $ref: '#/components/schemas/AuthenticationTokenPasswordMode'
        - $ref: '#/components/schemas/AuthenticationTokenPasswordlessMode'
    ApiKeyScope:
      type: object
      properties:
        organizationId:
          description: Array of account IDs.
          type: array
          items:
            $ref: '#/components/schemas/ResourceId'
        productId:
          description: Array of product IDs.
          type: array
          items:
            type: string
            description: Unique resource ID.
            maxLength: 50
            example: prod_0YV7DES3WPC5J8JD8QTVNZBZNZ
        planId:
          description: Array of plan IDs.
          type: array
          items:
            type: string
            description: Unique resource ID.
            maxLength: 50
            example: plan_0YV7DENSVGDBW9S71XZNNYYQ0X
        customFieldName:
          description: Array of custom field names.
          type: array
          items:
            type: string
            maxLength: 60
            pattern: ^[\w-]+$
      example:
        organizationId:
          - organizationId-id-1
    AclPermissions:
      type: array
      items:
        type: string
        format: operationId
      example:
        - PostFile
        - StorefrontGetAccount
        - StorefrontGetWebsite
        - StorefrontGetKycDocumentCollection
        - StorefrontGetKycDocument
        - StorefrontPostKycDocument
    Acl:
      type: array
      description: Access Control List (ACL) information.
      items:
        type: object
        required:
          - scope
          - permissions
        properties:
          scope:
            description: Scope of the API key.
            $ref: '#/components/schemas/ApiKeyScope'
          permissions:
            description: >-
              If you are creating a restricted API key, use this field to
              specify individual permissions.

              Use the wildcard character `*` to provide full access.
            $ref: '#/components/schemas/AclPermissions'
    CustomerJWT:
      type: object
      properties:
        id:
          type: string
          description: ID of the session.
          maxLength: 50
          example: jwt_0YV7DEJX80CDRAKVTV478ZNJDR
          readOnly: true
        type:
          description: Type of session.
          type: string
          readOnly: true
          enum:
            - customer
        token:
          description: Token used for authentication.
          type: string
          readOnly: true
        invalidate:
          description: >-
            Specifies whether to invalidate a token after an exchange is
            performed.
          type: boolean
          default: true
          example: true
          writeOnly: true
        oneTimePassword:
          description: >-
            One time password that sent by email. This value must contain digits
            only.
          type: string
          pattern: ^[0-9]{6}$
          example: '123456'
          writeOnly: true
        customerId:
          readOnly: true
          allOf:
            - $ref: '#/components/schemas/CustomerId'
        acl:
          $ref: '#/components/schemas/Acl'
        customClaims:
          type: object
          additionalProperties: true
          example:
            documents:
              - identity-proof
              - address-proof
            redirectUrl: https://mywebsite.com
        createdTime:
          $ref: '#/components/schemas/CreatedTime'
        updatedTime:
          $ref: '#/components/schemas/UpdatedTime'
        expiredTime:
          description: |-
            Date and time when the session expires.
            The default value is one hour after the `createdTime` value.
          type: string
          format: date-time
        _links:
          type: array
          description: Related links.
          readOnly: true
          items:
            type: object
            properties:
              href:
                description: Link URL.
                type: string
              rel:
                description: Type of link.
                type: string
                enum:
                  - customer
    Blocklist:
      type: object
      required:
        - type
        - value
      properties:
        id:
          type: string
          description: ID of the blocklist.
          readOnly: true
          maxLength: 50
          example: blkl_0YV8XTSH9MD578386XQDWSEBNF
        type:
          description: Type of blocklist.
          type: string
          enum:
            - payment-card
            - bank-account
            - customer-id
            - email
            - email-domain
            - ip-address
            - country
            - fingerprint
            - bin
            - address
        value:
          description: Value of the blocklist.
          type: string
        expirationTime:
          description: Date and time when the blocklist expires.
          type:
            - string
            - 'null'
          format: date-time
        createdTime:
          $ref: '#/components/schemas/CreatedTime'
        updatedTime:
          $ref: '#/components/schemas/UpdatedTime'
        _links:
          $ref: '#/components/schemas/SelfLink'
    CouponRestrictionDiscountPerRedemption:
      type: object
      description: |-
        Restricts the number of times that the coupon can be applied by one
        redemption. For example, use this restriction to configure a coupon
        that can only be applied to the first subscription renewal of a
        particular product.
      required:
        - type
        - quantity
      properties:
        type:
          description: Type of coupon restriction.
          type: string
          enum:
            - discounts-per-redemption
        quantity:
          type: integer
          description: Permitted number of discounts per redemption.
    CurrencyCode:
      type: string
      description: Currency code in ISO 4217 format.
      minLength: 3
      maxLength: 3
      example: USD
      x-label: Currency
      x-sortable: true
    CouponRestrictionMinimumOrderAmount:
      type: object
      description: |-
        Specifies a minimum order amount for a coupon application. For
        example, if the restriction amount is $20, the coupon is only
        applied to invoices with a total amount of $20 or more.
      required:
        - type
        - amount
        - currency
      properties:
        type:
          type: string
          description: Type of coupon restriction.
          enum:
            - minimum-order-amount
        amount:
          type: integer
          description: Minimum order quantity that is required to apply the coupon.
        currency:
          $ref: '#/components/schemas/CurrencyCode'
    CouponRestrictionPaidByTime:
      type: object
      description: >-
        Specifies a date and time at which a coupon redemption expires if the
        invoice is not paid.
      required:
        - type
        - time
      properties:
        type:
          description: Type of coupon restriction.
          type: string
          enum:
            - paid-by-time
        time:
          type: string
          format: date-time
          description: >-
            Date and time when a coupon redemption is no longer valid, and the
            coupon is removed from unpaid invoices if applied.


            > **Note:** This date-time cannot be changed.
    CouponRestrictionRestrictToInvoices:
      type: object
      description: Restricts a coupon to specific invoices.
      required:
        - type
        - invoiceIds
      properties:
        type:
          type: string
          description: Type of coupon restriction.
          enum:
            - restrict-to-invoices
        invoiceIds:
          type: array
          description: Invoice IDs on which a coupon can be applied.
          items:
            type: string
    CouponRestrictionRestrictToPlans:
      type: object
      description: Restricts a coupon to specific pricing plans.
      required:
        - type
        - planIds
      properties:
        type:
          type: string
          description: Type of coupon restriction.
          enum:
            - restrict-to-plans
        planIds:
          type: array
          description: Plan IDs on which a coupon can be applied.
          items:
            type: string
        minimumQuantity:
          type: integer
          default: 1
          description: >-
            Minimum quantity that is required to apply the restriction and
            subsequent discount.
    CouponRestrictionRestrictToProducts:
      type: object
      description: Restricts a coupon to specific products.
      required:
        - type
        - productIds
      properties:
        type:
          type: string
          description: Type of coupon restriction.
          enum:
            - restrict-to-products
        productIds:
          type: array
          description: Product IDs on which a coupon can be applied.
          items:
            type: string
        minimumQuantity:
          type: integer
          default: 1
          description: >-
            Minimum quantity that is required to apply the restriction and
            subsequent discount.
    CouponRestrictionRestrictToSubscriptions:
      type: object
      description: Restricts a coupon to specific order subscriptions.
      required:
        - type
        - subscriptionIds
      properties:
        type:
          type: string
          description: Type of coupon restriction.
          enum:
            - restrict-to-subscriptions
        subscriptionIds:
          type: array
          description: Subscription IDs on which a coupon can be applied.
          items:
            type: string
    RedemptionRestriction:
      description: Redemption restrictions.
      type: object
      discriminator:
        propertyName: type
        mapping:
          discounts-per-redemption: '#/components/schemas/CouponRestrictionDiscountPerRedemption'
          minimum-order-amount: '#/components/schemas/CouponRestrictionMinimumOrderAmount'
          paid-by-time: '#/components/schemas/CouponRestrictionPaidByTime'
          restrict-to-invoices: '#/components/schemas/CouponRestrictionRestrictToInvoices'
          restrict-to-plans: '#/components/schemas/CouponRestrictionRestrictToPlans'
          restrict-to-products: '#/components/schemas/CouponRestrictionRestrictToProducts'
          restrict-to-subscriptions: '#/components/schemas/CouponRestrictionRestrictToSubscriptions'
      anyOf:
        - $ref: '#/components/schemas/CouponRestrictionDiscountPerRedemption'
        - $ref: '#/components/schemas/CouponRestrictionMinimumOrderAmount'
        - $ref: '#/components/schemas/CouponRestrictionPaidByTime'
        - $ref: '#/components/schemas/CouponRestrictionRestrictToInvoices'
        - $ref: '#/components/schemas/CouponRestrictionRestrictToPlans'
        - $ref: '#/components/schemas/CouponRestrictionRestrictToProducts'
        - $ref: '#/components/schemas/CouponRestrictionRestrictToSubscriptions'
    CouponRedemption:
      type: object
      description: Coupon redemption log.
      properties:
        id:
          type: string
          readOnly: true
          description: Unique resource ID.
          maxLength: 50
          example: cpn_rdm_0YVCNKF81GD778N4YNVGDJK558
        couponId:
          type: string
          description: ID of the coupon.
          maxLength: 50
          example: cpn_0YVCNKF81GD778N4YNVGDJK558
        customerId:
          $ref: '#/components/schemas/CustomerId'
        additionalRestrictions:
          description: Additional coupon redemption restrictions.
          type: array
          items:
            $ref: '#/components/schemas/RedemptionRestriction'
        createdTime:
          $ref: '#/components/schemas/CreatedTime'
        updatedTime:
          $ref: '#/components/schemas/UpdatedTime'
        canceledTime:
          description: Date and time when the coupon is canceled.
          readOnly: true
          x-sortable: true
          type:
            - string
            - 'null'
          format: date-time
        _links:
          type: array
          description: Related links.
          readOnly: true
          items:
            type: object
            properties:
              href:
                description: Link URL.
                type: string
              rel:
                description: Type of link.
                type: string
                enum:
                  - self
                  - customer
                  - coupon
    DiscountContext:
      type: string
      description: Context in which the discount applies.
      default: items
      x-label: Context
      x-sortable: true
      x-basic: true
      x-enumDescriptions:
        items: items (less discounts)
        shipping: shipping (less discounts)
        items-and-shipping: items and shipping (less discounts)
      enum:
        - items
        - shipping
        - items-and-shipping
    DiscountFixed:
      type: object
      description: Coupon fixed amount discount.
      required:
        - amount
        - currency
        - type
      properties:
        amount:
          description: Amount of discount.
          type: number
          format: double
          minimum: 0.01
        currency:
          $ref: '#/components/schemas/CurrencyCode'
        type:
          type: string
          enum:
            - fixed
          x-label: Type
          x-sortable: true
          x-basic: true
        context:
          $ref: '#/components/schemas/DiscountContext'
    DiscountPercent:
      type: object
      description: Coupon percent discount.
      required:
        - value
        - type
      properties:
        value:
          description: Percentage of discount.
          type: number
          format: double
          minimum: 0.01
          maximum: 100
        type:
          type: string
          enum:
            - percent
          x-label: Type
          x-sortable: true
          x-basic: true
        context:
          $ref: '#/components/schemas/DiscountContext'
    Discount:
      type: object
      description: Coupon discount.
      discriminator:
        propertyName: type
        mapping:
          fixed: '#/components/schemas/DiscountFixed'
          percent: '#/components/schemas/DiscountPercent'
      oneOf:
        - $ref: '#/components/schemas/DiscountFixed'
        - $ref: '#/components/schemas/DiscountPercent'
    CouponRestrictionRedemptionsPerCustomer:
      type: object
      description: |-
        Restricts the number of times that a coupon can be redeemed by one
        customer. For example, use this restriction to limit the number of
        redemptions to one per customer.
      required:
        - type
        - quantity
      properties:
        type:
          type: string
          description: Type of coupon restriction.
          enum:
            - redemptions-per-customer
        quantity:
          type: integer
          description: Permitted number of redemptions per customer.
    CouponRestrictionRestrictToBxgy:
      type: object
      description: >-
        Provides "buy X get Y" promotions.

        These promotions incentivize new customers to buy and also reward
        existing customers.

        This restriction type enables you to add discounted plans to an invoice
        when a certain quantity of other plans are purchased.

        For example, if a customer buys two or more books, they get one free
        bookmark.
      required:
        - type
        - buy
        - get
      properties:
        type:
          type: string
          description: Type of coupon restriction.
          enum:
            - restrict-to-bxgy
        buy:
          type: array
          description: >-
            One or more plan and quantity definitions that must be purchased to
            receive all plans and quantities that are defined in the `get`
            instruction.
          minItems: 1
          items:
            type: object
            required:
              - planId
              - quantity
            properties:
              planId:
                type: string
                description: Plan ID of the item being purchased.
                maxLength: 50
                example: plan_0YV7DENSVGDBW9S71XZNNYYQ0X
              quantity:
                type: integer
                minimum: 1
                description: >-
                  Total quantity of the associated plan ID that must be
                  purchased for this restriction to apply.
        get:
          type: array
          description: >-
            One or more plan and quantity definitions that are added to a
            purchase if all definitions in the `buy` condition are met.
          minItems: 1
          items:
            type: object
            required:
              - planId
              - quantity
            properties:
              planId:
                type: string
                description: Plan ID of the item that is to be received by the customer.
                maxLength: 50
                example: plan_0YV7DENSVGDBW9S71XZNNYYQ0X
              quantity:
                type: integer
                minimum: 1
                description: >-
                  Total quantity of the associated plan ID that is to be
                  received by the customer.
    CouponRestrictionRestrictToCountries:
      type: object
      description: Restricts a coupon for use in specific countries.
      required:
        - type
        - countries
      properties:
        type:
          type: string
          description: Type of coupon restriction.
          enum:
            - restrict-to-countries
        countries:
          type: array
          description: >-
            Countries where the coupon can be applied, in ISO Alpha-2 code
            format.

            For examples, see
            [ISO.org](https://www.iso.org/obp/ui/#search/code/).
          items:
            type: string
            pattern: ^[A-Z]{2}$
    CouponRestrictionRestrictToCustomerTags:
      type: object
      description: Restricts a coupon to customers with specific tags.
      required:
        - type
        - tags
        - requireAllTags
      properties:
        type:
          type: string
          description: Type of coupon restriction.
          enum:
            - restrict-to-customer-tags
        tags:
          type: array
          description: Customer tags on which a coupon can be applied.
          items:
            type: string
        requireAllTags:
          type: boolean
          description: Determines the behavior for checking customer tags.
          enum:
            - true
            - false
          x-enumDescriptions:
            'true': Customer must have all listed tags to redeem a coupon.
            'false': >-
              Customer must have at least one of the listed tags to redeem a
              coupon.
    CouponRestrictionRestrictToCustomers:
      type: object
      description: Restricts a coupon to specific customers.
      required:
        - type
        - customerIds
      properties:
        type:
          type: string
          description: Type of coupon restriction.
          enum:
            - restrict-to-customers
        customerIds:
          type: array
          description: Customer IDs on which a coupon can be applied.
          items:
            type: string
    CouponRestrictionExclusiveApplication:
      type: object
      description: >-
        Restricts a coupon so that it cannot be used in combination with other
        coupons.

        If more than one coupon is active, a coupon with this restriction is
        only applied if it provides a larger discount than the other coupons
        combined.

        If a coupon with this restriction is applied, all other coupons are
        removed.
      required:
        - type
      properties:
        type:
          type: string
          description: Type of coupon restriction.
          enum:
            - restrict-to-exclusive-application
    CouponRestrictionTotalRedemptions:
      type: object
      description: >-
        Restricts the number of times a coupon can be redeemed by different
        customers.
      required:
        - type
        - quantity
      properties:
        type:
          type: string
          description: Type of coupon restriction.
          enum:
            - total-redemptions
        quantity:
          type: integer
          description: Permitted total number of redemptions.
    CouponRestriction:
      description: Coupon restrictions.
      type: object
      discriminator:
        propertyName: type
        mapping:
          discounts-per-redemption: '#/components/schemas/CouponRestrictionDiscountPerRedemption'
          minimum-order-amount: '#/components/schemas/CouponRestrictionMinimumOrderAmount'
          paid-by-time: '#/components/schemas/CouponRestrictionPaidByTime'
          redemptions-per-customer: '#/components/schemas/CouponRestrictionRedemptionsPerCustomer'
          restrict-to-bxgy: '#/components/schemas/CouponRestrictionRestrictToBxgy'
          restrict-to-countries: '#/components/schemas/CouponRestrictionRestrictToCountries'
          restrict-to-customer-tags: '#/components/schemas/CouponRestrictionRestrictToCustomerTags'
          restrict-to-customers: '#/components/schemas/CouponRestrictionRestrictToCustomers'
          restrict-to-exclusive-application: '#/components/schemas/CouponRestrictionExclusiveApplication'
          restrict-to-invoices: '#/components/schemas/CouponRestrictionRestrictToInvoices'
          restrict-to-plans: '#/components/schemas/CouponRestrictionRestrictToPlans'
          restrict-to-products: '#/components/schemas/CouponRestrictionRestrictToProducts'
          restrict-to-subscriptions: '#/components/schemas/CouponRestrictionRestrictToSubscriptions'
          total-redemptions: '#/components/schemas/CouponRestrictionTotalRedemptions'
      anyOf:
        - $ref: '#/components/schemas/CouponRestrictionDiscountPerRedemption'
        - $ref: '#/components/schemas/CouponRestrictionExclusiveApplication'
        - $ref: '#/components/schemas/CouponRestrictionMinimumOrderAmount'
        - $ref: '#/components/schemas/CouponRestrictionPaidByTime'
        - $ref: '#/components/schemas/CouponRestrictionRedemptionsPerCustomer'
        - $ref: '#/components/schemas/CouponRestrictionRestrictToBxgy'
        - $ref: '#/components/schemas/CouponRestrictionRestrictToCountries'
        - $ref: '#/components/schemas/CouponRestrictionRestrictToCustomerTags'
        - $ref: '#/components/schemas/CouponRestrictionRestrictToCustomers'
        - $ref: '#/components/schemas/CouponRestrictionRestrictToInvoices'
        - $ref: '#/components/schemas/CouponRestrictionRestrictToPlans'
        - $ref: '#/components/schemas/CouponRestrictionRestrictToProducts'
        - $ref: '#/components/schemas/CouponRestrictionRestrictToSubscriptions'
        - $ref: '#/components/schemas/CouponRestrictionTotalRedemptions'
    Coupon:
      type: object
      description: Coupons and discounts.
      required:
        - discount
        - issuedTime
      properties:
        id:
          type: string
          description: >-
            ID of the coupon. This value is also known as the coupon redemption
            code.
          readOnly: true
          maxLength: 50
          example: cpn_0YVCNKF81GD778N4YNVGDJK558
        discount:
          $ref: '#/components/schemas/Discount'
        restrictions:
          description: Coupon restrictions.
          type: array
          items:
            $ref: '#/components/schemas/CouponRestriction'
        redemptionsCount:
          type: integer
          description: Total number of times that a coupon is redeemed.
          minimum: 0
          readOnly: true
        status:
          type: string
          description: Specifies the current status of the coupon.
          readOnly: true
          enum:
            - draft
            - issued
            - expired
        description:
          type: string
          x-basic: true
          description: >-
            Description of the coupon. Use this field to provide an invoice
            discount item description.


            If this field is empty, the invoice discount item description uses
            the related coupon ID, in the following format:

            `Coupon "COUPON-ID"`.
        issuedTime:
          description: |-
            Date and time when the coupon is issued.
            This value may also be described as start time of the coupon.
          type: string
          x-label: Valid from
          x-sortable: true
          x-basic: true
          format: date-time
        expiredTime:
          description: Date and time when the coupon expires.
          type:
            - string
            - 'null'
          x-label: Valid until
          x-sortable: true
          x-basic: true
          format: date-time
        revision:
          description: |-
            Number of times the coupon data has been modified.

            Use the revision number when analyzing webhook data to
            determine if a change should take precedence over the current
            representation.
          type: integer
          readOnly: true
        createdTime:
          $ref: '#/components/schemas/CreatedTime'
        updatedTime:
          $ref: '#/components/schemas/UpdatedTime'
        _links:
          $ref: '#/components/schemas/SelfLink'
    CouponExpiration:
      type: object
      required:
        - expiredTime
      properties:
        expiredTime:
          description: >-
            Date and time when the coupon expires.

            This value must be greater than the `issuedTime` value.

            If this field contains a null or empty string, the coupon expires
            immediately.
          type: string
          format: date-time
    BlankProblem:
      description: >-
        Problem Details JSON Object
        [[RFC7807](https://tools.ietf.org/html/rfc7807)].
      type: object
      minProperties: 1
      additionalProperties: true
      properties:
        status:
          type: integer
          description: HTTP status code.
          minimum: 400
          maximum: 599
        title:
          type: string
          description: >-
            Short, human-readable summary of the problem type.

            It SHOULD NOT change from occurrence to occurrence of the problem,
            except for purposes of localization.
    DocumentedProblem:
      type: object
      allOf:
        - properties:
            type:
              type: string
              description: >-
                URI reference [[RFC3986](https://tools.ietf.org/html/rfc3986)]
                that identifies the problem type.

                It should provide human-readable documentation for the problem
                type.

                When this member is not present, its value is assumed to be
                "about:blank".
              format: uri
              example: https://www.rebilly.com/docs/
        - $ref: '#/components/schemas/BlankProblem'
    DetailedProblem:
      type: object
      allOf:
        - $ref: '#/components/schemas/BlankProblem'
        - properties:
            detail:
              type: string
              description: >-
                Human-readable explanation specific to this occurrence of the
                problem.
    Problem:
      type: object
      allOf:
        - $ref: '#/components/schemas/DocumentedProblem'
        - $ref: '#/components/schemas/DetailedProblem'
    Error:
      type: object
      allOf:
        - $ref: '#/components/schemas/Problem'
        - properties:
            error:
              deprecated: true
              type: string
    CustomerCredential:
      type: object
      required:
        - username
        - password
        - customerId
      properties:
        id:
          type: string
          description: ID of the credential.
          readOnly: true
          maxLength: 50
          example: cus_crd_0YV9Y706QGCB39FQD380G1ZHZH
        username:
          description: Username associated with the credential.
          type: string
        password:
          description: Password associated with the credential.
          type: string
          format: password
          writeOnly: true
        customerId:
          $ref: '#/components/schemas/CustomerId'
        expiredTime:
          description: Date and time when the credential expires.
          type:
            - string
            - 'null'
          format: date-time
        _links:
          type: array
          description: Related links.
          readOnly: true
          items:
            type: object
            properties:
              href:
                description: Link URL.
                type: string
              rel:
                description: Type of link.
                type: string
                enum:
                  - self
                  - customer
    ArrayCustomField:
      type: object
      required:
        - type
      properties:
        name:
          description: Name of the custom field.
          type: string
          readOnly: true
        type:
          description: >-
            Describes the data type. Custom field type value cannot be changed.


            Array of strings with up to 255 characters. Maximum size is 1000
            elements.
          type: string
          enum:
            - array
        description:
          description: Description of the custom field.
          type:
            - string
            - 'null'
        additionalSchema:
          type:
            - object
            - 'null'
          description: Additional schema which adds additional values constrains.
          properties:
            allowedValues:
              description: List of allowed values.
              type: array
              items:
                type: string
            required:
              description: >-
                Specifies whether this value is required.

                This value can be combined with any parameter and is available
                for custom fields of any type.
              type: boolean
            default:
              description: Default value.
              type: array
              items:
                type: string
        _links:
          $ref: '#/components/schemas/SelfLink'
    BooleanCustomField:
      type: object
      required:
        - type
      properties:
        name:
          description: Name of the custom field.
          type: string
          readOnly: true
        type:
          description: |-
            Describes the data type. Custom field type value cannot be changed.

            Specifies a `true` or `false` value.
          type: string
          enum:
            - boolean
        description:
          description: Description of the custom field.
          type:
            - string
            - 'null'
        additionalSchema:
          type:
            - object
            - 'null'
          description: Additional schema which adds additional values constrains.
          properties:
            required:
              description: Specifies whether this value is required.
              type: boolean
            default:
              description: Default value.
              type: boolean
        _links:
          $ref: '#/components/schemas/SelfLink'
    DateCustomField:
      type: object
      required:
        - type
      properties:
        name:
          description: Name of the custom field.
          type: string
          readOnly: true
        type:
          description: >-
            Describes the data type. Custom field type value cannot be changed.


            String in [full-date](https://www.rfc-editor.org/rfc/rfc3339) format
            (YYYY-MM-DD).
          type: string
          enum:
            - date
        description:
          description: Description of the custom field.
          type:
            - string
            - 'null'
        additionalSchema:
          type:
            - object
            - 'null'
          description: Additional schema which adds additional values constrains.
          properties:
            required:
              description: Specifies whether this value is required.
              type: boolean
            default:
              description: Default value.
              type: string
              format: date
        _links:
          $ref: '#/components/schemas/SelfLink'
    DateTimeCustomField:
      type: object
      required:
        - type
      properties:
        name:
          description: Name of the custom field.
          type: string
          readOnly: true
        type:
          description: >-
            Describes the data type. Custom field type value cannot be changed.


            String in [date-time](https://www.rfc-editor.org/rfc/rfc3339) format
            (YYYY-MM-DDTHH:MM:SSZ).
          type: string
          enum:
            - datetime
        description:
          description: Description of the custom field.
          type:
            - string
            - 'null'
        additionalSchema:
          type:
            - object
            - 'null'
          description: Additional schema which adds additional values constrains.
          properties:
            required:
              description: Specifies whether this value is required.
              type: boolean
            default:
              description: Default value.
              type: string
              format: date-time
        _links:
          $ref: '#/components/schemas/SelfLink'
    IntegerCustomField:
      type: object
      required:
        - type
      properties:
        name:
          description: Name of the custom field.
          type: string
          readOnly: true
        type:
          description: |-
            Describes the data type. Custom field type value cannot be changed.

            Cardinal value of between `-2^31` and `2^31-1`.
          type: string
          enum:
            - integer
        description:
          description: Description of the custom field.
          type:
            - string
            - 'null'
        additionalSchema:
          type:
            - object
            - 'null'
          description: Additional schema which adds additional values constrains.
          properties:
            minimum:
              description: |-
                Minimum allowed integer.
                This value can be combined with the `maximum` parameter.
              type: integer
            maximum:
              description: |-
                Maximum allowed integer.
                This value can be combined with the `minimum` parameter.
              type: integer
            required:
              description: Specifies whether this value is required.
              type: boolean
            default:
              description: Default value.
              type: integer
        _links:
          $ref: '#/components/schemas/SelfLink'
    NumberCustomField:
      type: object
      required:
        - type
      properties:
        name:
          description: Name of the custom field.
          type: string
          readOnly: true
        type:
          description: >-
            Describes the data type. Custom field type value cannot be changed.


            Float value. This field also accepts cardinal values which are
            interpreted as float.
          type: string
          enum:
            - number
        description:
          description: Description of the custom field.
          type:
            - string
            - 'null'
        additionalSchema:
          type:
            - object
            - 'null'
          description: Additional schema which adds additional values constrains.
          properties:
            minimum:
              description: |-
                Minimum allowed number.
                This value can be combined with the `maximum` parameter.
              type: number
              format: double
            maximum:
              description: |-
                Maximum allowed number.
                This value can be combined with the `minimum` parameter.
              type: number
              format: double
            required:
              description: Specifies whether this value is required.
              type: boolean
            default:
              description: Default value.
              type: number
              format: double
        _links:
          $ref: '#/components/schemas/SelfLink'
    StringCustomField:
      type: object
      required:
        - type
      properties:
        name:
          description: Name of the custom field.
          type: string
          readOnly: true
        type:
          description: |-
            Describes the data type. Custom field type value cannot be changed.

            Regular string of up to 255 characters.
          type: string
          enum:
            - string
        description:
          description: Description of the custom field.
          type:
            - string
            - 'null'
        additionalSchema:
          type:
            - object
            - 'null'
          description: Additional schema which adds additional values constrains.
          properties:
            allowedValues:
              description: List of allowed values.
              type: array
              items:
                type: string
            maxLength:
              description: |-
                Maximum allowed string length .
                A maximum length of 4000 characters can be configured.
                By default, this value is set to 255.
              type: integer
            pattern:
              description: Allowed regular expression of a string.
              type: string
              example: /^[0-9]+$/
            required:
              description: Specifies whether this value is required.
              type: boolean
            default:
              description: Default value.
              type: string
        _links:
          $ref: '#/components/schemas/SelfLink'
    MonetaryCustomField:
      type: object
      required:
        - type
      properties:
        name:
          description: Name of the custom field.
          type: string
          readOnly: true
        type:
          description: |-
            Describes the data type. Custom field type value cannot be changed.

            A map of 3-letter currency, code, and amount.
            Example: `{"currency": "EUR", "amount": 25.30}`.
          type: string
          enum:
            - monetary
        description:
          description: Description of the custom field.
          type:
            - string
            - 'null'
        additionalSchema:
          type:
            - object
            - 'null'
          description: Additional schema which adds additional values constrains.
          properties:
            required:
              description: Specifies whether this value is required.
              type: boolean
            default:
              description: Default value.
              type: object
              properties:
                currency:
                  $ref: '#/components/schemas/CurrencyCode'
                amount:
                  type: number
                  format: double
        _links:
          $ref: '#/components/schemas/SelfLink'
    CustomField:
      description: Separate custom field schema.
      type: object
      discriminator:
        propertyName: type
        mapping:
          array: '#/components/schemas/ArrayCustomField'
          boolean: '#/components/schemas/BooleanCustomField'
          date: '#/components/schemas/DateCustomField'
          datetime: '#/components/schemas/DateTimeCustomField'
          integer: '#/components/schemas/IntegerCustomField'
          number: '#/components/schemas/NumberCustomField'
          string: '#/components/schemas/StringCustomField'
          monetary: '#/components/schemas/MonetaryCustomField'
      oneOf:
        - $ref: '#/components/schemas/ArrayCustomField'
        - $ref: '#/components/schemas/BooleanCustomField'
        - $ref: '#/components/schemas/DateCustomField'
        - $ref: '#/components/schemas/DateTimeCustomField'
        - $ref: '#/components/schemas/IntegerCustomField'
        - $ref: '#/components/schemas/NumberCustomField'
        - $ref: '#/components/schemas/StringCustomField'
        - $ref: '#/components/schemas/MonetaryCustomField'
    WebsiteId:
      type: string
      description: >-
        ID of the website.

        A website is where an organization obtains a customer.

        For more information, see [Obtain an organization ID and website
        ID](https://www.rebilly.com/docs/settings/organizations-and-websites/#obtain-your-organization-id-and-website-id).
      maxLength: 50
      example: web_0YV7DE4Z26DQSA1AC92FBJ7SEG
    PaymentMethod:
      type: string
      description: Payment method.
      enum:
        - payment-card
        - ach
        - cash
        - check
        - paypal
        - AdvCash
        - Aircash
        - Airpay
        - Alfa-click
        - Alipay
        - AmazonPay
        - Apple Pay
        - AstroPay Card
        - AstroPay-GO
        - BankSEND
        - BankReferenced
        - bank-transfer
        - bank-transfer-2
        - bank-transfer-3
        - bank-transfer-4
        - bank-transfer-5
        - bank-transfer-6
        - bank-transfer-7
        - bank-transfer-8
        - bank-transfer-9
        - Baloto
        - Beeline
        - Belfius-direct-net
        - bitcoin
        - Bizum
        - Blik
        - Boleto
        - Boleto-2
        - Boleto-3
        - cash-deposit
        - CASHlib
        - CashToCode
        - CCAvenue
        - China UnionPay
        - Cleo
        - CODVoucher
        - Conekta-oxxo
        - Conekta-spei
        - cryptocurrency
        - Cupon-de-pagos
        - CyberSource
        - Dimoco-pay-smart
        - Directa24Card
        - domestic-cards
        - Efecty
        - echeck
        - ecoPayz
        - ecoVoucher
        - EPS
        - ePay.bg
        - Ethereum
        - e-wallet
        - ezyEFT
        - eZeeWallet
        - FasterPay
        - Flexepin
        - Giropay
        - Google Pay
        - Gpaysafe
        - iDebit
        - iDEAL
        - ING-homepay
        - INOVAPAY-pin
        - INOVAPAY-wallet
        - InstaDebit
        - InstantPayments
        - instant-bank-transfer
        - Interac-online
        - Interac-eTransfer
        - Interac-express-connect
        - Interac
        - invoice
        - iWallet
        - Jeton
        - jpay
        - KakaoPay
        - Khelocard
        - Klarna
        - KNOT
        - Litecoin
        - loonie
        - LPG-online
        - LPG-payment-card
        - Matrix
        - MaxiCash
        - Megafon
        - MercadoPago
        - MiFinity-eWallet
        - miscellaneous
        - MobilePay
        - Multibanco
        - Bancontact
        - Bancontact-mobile
        - MTS
        - MuchBetter
        - MyFatoorah
        - Neosurf
        - Netbanking
        - Neteller
        - Nordea-Solo
        - NordikCoin
        - OchaPay
        - online-bank-transfer
        - Onlineueberweisen
        - oriental-wallet
        - OXXO
        - P24
        - Pagadito
        - PagoEffectivo
        - Pagsmile-lottery
        - Pagsmile-deposit-express
        - PayCash
        - Payco
        - Payeer
        - PaymentAsia-crypto
        - Paysafecard
        - PayTabs
        - Pay4Fun
        - Paynote
        - Paymero
        - Paymero-QR
        - PayU
        - PayULatam
        - Perfect-money
        - Piastrix
        - PIX
        - PinPay
        - phone
        - PhonePe
        - POLi
        - PostFinance-card
        - PostFinance-e-finance
        - QIWI
        - QPay
        - QQPay
        - rapyd-checkout
        - rebilly-hosted-payment-form
        - Resurs
        - SafetyPay
        - Samsung Pay
        - SEPA
        - Siirto
        - Skrill
        - Skrill Rapid Transfer
        - SMSVoucher
        - Sofort
        - SparkPay
        - SPEI
        - swift-dbt
        - Tele2
        - Telr
        - Terminaly-RF
        - Tether
        - ToditoCash-card
        - Trustly
        - Tupay
        - TWINT
        - UniCrypt
        - UPayCard
        - UPI
        - USD-coin
        - VCreditos
        - VegaWallet
        - VenusPoint
        - voucher
        - voucher-2
        - voucher-3
        - voucher-4
        - Wallet88
        - Webmoney
        - Webpay
        - Webpay-2
        - Webpay Card
        - WeChat Pay
        - XPay-P2P
        - XPay-QR
        - Yandex-money
        - Zotapay
        - Zimpler
    VaultedInstrument:
      title: Vaulted payment instrument
      description: >-
        Vaulted payment instrument.


        To use this payment instrument for automatic subscription renewals,

        and for transactions when no specific payment instrument is provided by
        the user,

        set this as the default payment instrument.
      required:
        - method
        - paymentInstrumentId
      properties:
        method:
          description: >-
            Payment method supported vault.

            For more information, see [Payment
            instrument](https://www.rebilly.com/catalog/all/payment-instruments).
          type: string
          enum:
            - payment-card
            - ach
            - paypal
          allOf:
            - $ref: '#/components/schemas/PaymentMethod'
        paymentInstrumentId:
          type: string
          description: ID of the payment instrument.
          maxLength: 50
          example: inst_0YVB8KPKNXCBR9EDX7JHSED75N
    AlternativePaymentInstrument:
      title: Alternative instrument
      description: >-
        Alternative payment method instrument.


        To use this payment instrument for automatic subscription renewals,

        and for transactions when no specific payment instrument is provided by
        the user,

        set this as the default payment instrument.
      type: object
      required:
        - method
      properties:
        method:
          $ref: '#/components/schemas/PaymentMethod'
        paymentInstrumentId:
          type: string
          description: ID of the payment instrument.
          maxLength: 50
          example: inst_0YVB8KPKNXCBR9EDX7JHSED75N
    CashInstrument:
      title: Cash
      description: >-
        Cash payment instrument object.


        To use this payment instrument for automatic subscription renewals,

        and for transactions when no specific payment instrument is provided by
        the user,

        set this as the default payment instrument.
      type: object
      required:
        - method
      properties:
        method:
          type: string
          enum:
            - cash
        receivedBy:
          description: Individual or entity that received the payment.
          type: string
    CheckInstrument:
      title: Check
      description: >-
        Check payment instrument object.


        To use this payment instrument for automatic subscription renewals,

        and for transactions when no specific payment instrument is provided by
        the user,

        set this as the default payment instrument.
      type: object
      required:
        - method
      properties:
        method:
          type: string
          enum:
            - check
        reference:
          description: Reference data.
          type: string
    ResourceCustomFields:
      description: >-
        Use custom fields to extend a resource scheme to include custom data
        that is not provided as a common field.

        For more information, see [Custom
        fields](https://www.rebilly.com/catalog/all/custom-fields).
      type: object
      default: {}
      example:
        foo: bar
    ContactPhoneNumbers:
      description: List of phone numbers associated with the contact.
      type: array
      items:
        type: object
        required:
          - label
          - value
        properties:
          label:
            description: Phone number label or name.
            type: string
            maxLength: 45
            example: main
          value:
            description: Phone number value.
            type: string
            maxLength: 50
            example: 512-710-1640
          primary:
            description: >-
              Specifies if the phone number is the contact's primary phone
              number.
            type: boolean
            example: true
    ContactEmails:
      description: List of email addresses associated with the contact.
      type: array
      items:
        type: object
        required:
          - label
          - value
        properties:
          label:
            description: Email label or name.
            type: string
            maxLength: 45
            example: main
          value:
            description: Email address value.
            type: string
            format: email
            maxLength: 255
            example: rebilly@example.com
          primary:
            description: >-
              Specifies if the email address is the contact's primary email
              address.
            type: boolean
            example: true
    ContactObject:
      type: object
      description: Contact's information.
      properties:
        firstName:
          description: Contact's first name.
          type:
            - string
            - 'null'
          pattern: ^[\w\s\-\p{L},.']+$
          maxLength: 45
          example: Benjamin
        lastName:
          description: Contact's last name.
          type:
            - string
            - 'null'
          pattern: ^[\w\s\-\p{L},.']+$
          maxLength: 45
          example: Franklin
        organization:
          description: Contact's organization.
          type:
            - string
            - 'null'
          pattern: ^[\w\s\-\p{L},.'&]+$
          maxLength: 255
          example: Rebilly
        address:
          description: First line of the contact's street address.
          type:
            - string
            - 'null'
          pattern: ^[\w\s\-\/\p{L},.#;:()'&]+$
          maxLength: 60
[...]
