{
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
  },
  "rules": {
    "quotes": [2, "single"],
    "no-console": 0,
    "comma-spacing": 2,
    "comma-style": [2, "last"],
    "consistent-return": 2,
    "strict": [2, "global"]
  }
}
