{
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
  },
  "rules": {
    "quotes": [2, "single"],
    "no-console": 0,
    "comma-spacing": 2,
    "comma-style": [2, "last"],
    "consistent-return": 2,
    "strict": [2, "global"],
    "eqeqeq": [2, "smart"],
    "curly": [2, "multi-line"],
    "semi-spacing": [2, {"before": false, "after": true}],
    "semi": [2, "always"],
    "no-extra-semi": 2,
    "comma-dangle": [2, "never"],
    "no-sequences": 2,
    "comma-spacing": [2, {"before": false, "after": true}],
    "comma-style": [2, "last"]
  }
}
