{"openapi":"3.0.1","info":{"title":"مستند سرویس های NSPAY","description":"\u003Cmeta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\"\u003E\n\u003Clink rel=\"stylesheet\" type=\"text/css\" href=\"style.css\" /\u003E\n\n\u003Cbr\u003E\n\u003Cdiv align=\"center\"\u003E\n\u003Cimg src=\"documentation/img/logo.svg\"\u003E\n\u003C/div\u003E\n\n## نگاه کلی به NSPAY\n\n\u003Cdiv style='text-align: right;'\u003E\nNSPAY نام تجاری سیستم پرداخت عوارض بدون توقف شرکت توسن است که برای کمک به تحقق هدف وزارت راه و شهرسازی در توسعه فناوری‌های نوین در حوزه حمل‌ و نقل، سرعت‌بخشی، سهولت استفاده و ارتقای کیفیت در جهت شناسایی و وصول خودکار عوارض تردد در آزادراه‌های کشور طراحی شده است. اگرچه هسته اصلی خدماتی که این سیستم ارائه می‌دهد حول محور «پرداخت بدون توقف عوارض تردد در آزادراه‌های کشور» متمرکز شده است ولی استعلام و پرداخت اینترنتی عوارض ورود به محدوده طرح ترافیک و محدوده کنترل آلودگی هوا (زوج و فرد سابق)، عوارض سالانه خودرو، بدهی پارک حاشیه‌ای و خلافی خودرو از سایر قابلیت‌های مهم این سیستم است.\n\u003Cbr\u003E\n\u003C/div\u003E\n\n## فرایند فراخوانی سرویس ها\n\n\u003Cdiv style='text-align: justify;'\u003E\nبرای فراخوانی سرویس ها توسط کاربران third party، نیاز به احراز هویت هست. این احراز هویت توسط سرویس لاگین صورت می گیرد. پیش از هر چیزی کاربر برنامه برای استفاده ازسرویس ها می بایست وارد NSPAY شود. پس سرویس لاگین ابتدایی ترین سرویس برای پیاده سازی است.\n\u003Cbr\u003E\nسپس به منظور فراخوانی مابقی سرویس ها نیاز به ارسال access token دریافتی در خروجی سرویس لاگین در هدر authorization می باشد.\n\u003Cbr\u003E\n\n# درباره الزامات API\n## مقدمه و الزامات\n\n\u003Cdiv style='text-align: justify;'\u003E\nدر این بخش الزامات، فرمت و مواردی مرتبط با پیاده سازی سرویس ها که توسعه دهندگان می بایست مورد توجه قرار دهند، ارائه شده است. همچنین توجه داشته باشید که نکات زیر می باید در اجرای همه سرویس ها رعایت شود. لطفا در نظر داشته باشید که فرمت حروف و کاراکتر ها با همان فرمتی که ذکر شده استفاده گردد.\n\u003Cbr\u003E\nدر استفاده از سرویس ها توجه داشته باشید که پارامتر هایی که ستاره دار هستند اجباری می باشند و اگر پارامتری اجباری نبود، می توان آن را مقداردهی نکرد. سرویس لاگین برای تمامی سرویس ها پیش نیاز می باشد.\n\u003Cbr\u003E\n\u003C/div\u003E\n\n\u003E * در header درخواست، باید پارامترهای زیر ارسال شود:\u003Cbr\u003Eموارد اجباری در جدول مشخص شده است.\n\n\u003Cdiv align=\"center\"\u003E\n\n| \u003Ccenter\u003Eپارامتر\u003C/center\u003E |\u003Ccenter\u003Eاجباری\u003C/center\u003E|\u003Ccenter\u003Eشرح\u003C/center\u003E|\n|:------------------------:|:---:| ---: |\n|       Authorization      |*|\tمقدار پارامتر accesstoken در خروجی سرویس لاگین\n|       X-Request-ID       ||\tبرای جستجوی فراخوانی هر سرویس در لاگ\n|        X-User-IP         |*|\tآدرس آی پی سیستم کاربر می باشد\n\n\u003C/div\u003E\n\n\n","license":{"name":"TOSAN","url":"https://www.tosan.com"},"version":"1.28.23"},"servers":[{"url":"https://www.nspay.ir","description":"Generated server url"}],"tags":[{"name":"احراز هویت موسسه سوم"},{"name":"استعلام بدهی موسسه سوم"},{"name":"تسویه بدهی موسسه سوم"},{"name":"ویجت موسسه سوم"}],"paths":{"/api/tp/settlement/freeway":{"post":{"tags":["تسویه بدهی موسسه سوم"],"summary":"freewaySettle","description":"تسویه عوارض آزادراهی","operationId":"1","parameters":[{"name":"X-Request-ID","in":"header"},{"name":"X-User-IP","in":"header"},{"name":"Authorization","in":"header"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FreewaySettleRequestModel"}}},"required":true},"responses":{"200":{"description":"\u003Cdiv style='text-align: justify;'\u003E\n\n\u003E * موفق\n\u003C/div\u003E","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SettlementResponseModelFreewaySettleModel"}}}},"403":{"description":"\u003Cdiv style='text-align: justify;'\u003E\n\n\u003E * AuthorizationException: در صورتی که کاربر دسترسی لازم برای فراخوانی این سرویس را نداشته باشد این خطا رخ می دهد\n\n\u003C/div\u003E","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorObject"}}}},"400":{"description":"\u003Cdiv style='text-align: justify;'\u003E\n\n\u003E * NSPayException: خطای بیزینسی\n\u003C/div\u003E\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorObject"}}}},"500":{"description":"\u003Cdiv style='text-align: justify;'\u003E\n\n\u003E * NSPayRuntimeException: خطای سیستمی\n\u003C/div\u003E","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorObject"}}}}}}},"/api/tp/inquiry/freeway":{"post":{"tags":["استعلام بدهی موسسه سوم"],"summary":"freewayInquiry","description":"استعلام بدهی عوارض آزاد راه","operationId":"1_1","parameters":[{"name":"X-Request-ID","in":"header"},{"name":"X-User-IP","in":"header"},{"name":"Authorization","in":"header"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FreewayInquiryRequestModel"}}},"required":true},"responses":{"200":{"description":"\u003Cdiv style='text-align: justify;'\u003E\n\n\u003E * موفق\n\u003C/div\u003E","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InquiryResponseModelFreewayInquiryBillModel"}}}},"403":{"description":"\u003Cdiv style='text-align: justify;'\u003E\n\n\u003E * AuthorizationException: در صورتی که کاربر دسترسی لازم برای فراخوانی این سرویس را نداشته باشد این خطا رخ می دهد\n\n\u003C/div\u003E","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorObject"}}}},"400":{"description":"\u003Cdiv style='text-align: justify;'\u003E\n\n\u003E * NSPayException: خطای بیزینسی\n\u003C/div\u003E\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorObject"}}}},"500":{"description":"\u003Cdiv style='text-align: justify;'\u003E\n\n\u003E * NSPayRuntimeException: خطای سیستمی\n\u003C/div\u003E","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorObject"}}}}}}},"/api/tp/auth/login":{"post":{"tags":["احراز هویت موسسه سوم"],"summary":"login","description":"ورود","operationId":"1_2","parameters":[{"name":"X-Request-ID","in":"header"},{"name":"X-User-IP","in":"header"},{"name":"Authorization","in":"header"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequestModel"}}},"required":true},"responses":{"200":{"description":"\u003Cdiv style='text-align: justify;'\u003E\n\n\u003E * موفق\n\u003C/div\u003E","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginResponseModel"}}}},"400":{"description":"\u003Cdiv style='text-align: justify;'\u003E\n\n\u003E * NSPayException: خطای بیزینسی\n\u003C/div\u003E\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorObject"}}}},"500":{"description":"\u003Cdiv style='text-align: justify;'\u003E\n\n\u003E * NSPayRuntimeException: خطای سیستمی\n\u003C/div\u003E","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorObject"}}}}}}},"/api/tp/widget/guid":{"get":{"tags":["ویجت موسسه سوم"],"summary":"getGUID","description":"دریافت GUID جهت فراخوانی سرویس های از طریق ویجت","operationId":"1_3","parameters":[{"name":"X-Request-ID","in":"header"},{"name":"X-User-IP","in":"header"},{"name":"Authorization","in":"header"}],"responses":{"200":{"description":"\u003Cdiv style='text-align: justify;'\u003E\n\n\u003E * موفق\n\u003C/div\u003E","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GUIDResponseModel"}}}},"403":{"description":"\u003Cdiv style='text-align: justify;'\u003E\n\n\u003E * AuthorizationException: در صورتی که کاربر دسترسی لازم برای فراخوانی این سرویس را نداشته باشد این خطا رخ می دهد\n\n\u003C/div\u003E","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorObject"}}}},"400":{"description":"\u003Cdiv style='text-align: justify;'\u003E\n\n\u003E * NSPayException: خطای بیزینسی\n\u003C/div\u003E\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorObject"}}}},"500":{"description":"\u003Cdiv style='text-align: justify;'\u003E\n\n\u003E * NSPayRuntimeException: خطای سیستمی\n\u003C/div\u003E","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorObject"}}}}}}},"/api/tp/settlement/traffic":{"post":{"tags":["تسویه بدهی موسسه سوم"],"summary":"trafficSettle","description":"تسویه بدهی طرح ترافیک و آلودگی هوا","operationId":"2","parameters":[{"name":"X-Request-ID","in":"header"},{"name":"X-User-IP","in":"header"},{"name":"Authorization","in":"header"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrafficSettleRequestModel"}}},"required":true},"responses":{"200":{"description":"\u003Cdiv style='text-align: justify;'\u003E\n\n\u003E * موفق\n\u003C/div\u003E","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SettlementResponseModelTrafficSettleModel"}}}},"403":{"description":"\u003Cdiv style='text-align: justify;'\u003E\n\n\u003E * AuthorizationException: در صورتی که کاربر دسترسی لازم برای فراخوانی این سرویس را نداشته باشد این خطا رخ می دهد\n\n\u003C/div\u003E","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorObject"}}}},"400":{"description":"\u003Cdiv style='text-align: justify;'\u003E\n\n\u003E * NSPayException: خطای بیزینسی\n\u003C/div\u003E\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorObject"}}}},"500":{"description":"\u003Cdiv style='text-align: justify;'\u003E\n\n\u003E * NSPayRuntimeException: خطای سیستمی\n\u003C/div\u003E","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorObject"}}}}}}},"/api/tp/inquiry/traffic":{"post":{"tags":["استعلام بدهی موسسه سوم"],"summary":"trafficInquiry","description":"استعلام بدهی طرح ترافیک و آلودگی هوا","operationId":"2_1","parameters":[{"name":"X-Request-ID","in":"header"},{"name":"X-User-IP","in":"header"},{"name":"Authorization","in":"header"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrafficInquiryRequestModel"}}},"required":true},"responses":{"200":{"description":"\u003Cdiv style='text-align: justify;'\u003E\n\n\u003E * موفق\n\u003C/div\u003E","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InquiryResponseModelTrafficInquiryBillModel"}}}},"403":{"description":"\u003Cdiv style='text-align: justify;'\u003E\n\n\u003E * AuthorizationException: در صورتی که کاربر دسترسی لازم برای فراخوانی این سرویس را نداشته باشد این خطا رخ می دهد\n\n\u003C/div\u003E","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorObject"}}}},"400":{"description":"\u003Cdiv style='text-align: justify;'\u003E\n\n\u003E * NSPayException: خطای بیزینسی\n\u003C/div\u003E\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorObject"}}}},"500":{"description":"\u003Cdiv style='text-align: justify;'\u003E\n\n\u003E * NSPayRuntimeException: خطای سیستمی\n\u003C/div\u003E","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorObject"}}}}}}},"/api/tp/auth/token/refresh":{"post":{"tags":["احراز هویت موسسه سوم"],"summary":"refreshToken","description":"سرویس باز تولید توکن های احراز هویت","operationId":"2_2","parameters":[{"name":"X-Request-ID","in":"header"},{"name":"X-User-IP","in":"header"},{"name":"Authorization","in":"header"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenRefreshRequestModel"}}},"required":true},"responses":{"200":{"description":"\u003Cdiv style='text-align: justify;'\u003E\n\n\u003E * موفق\n\u003C/div\u003E","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenModel"}}}},"400":{"description":"\u003Cdiv style='text-align: justify;'\u003E\n\n\u003E * NSPayException: خطای بیزینسی\n\u003C/div\u003E\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorObject"}}}},"401":{"description":"\u003Cdiv style='text-align: justify;'\u003E\n\n\u003E * TokenAuthenticationException: در صورتی که توکن منقضی شده باشد و یا نامعتبر باشد این خطا رخ می دهد\n\n\u003C/div\u003E","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorObject"}}}},"500":{"description":"\u003Cdiv style='text-align: justify;'\u003E\n\n\u003E * NSPayRuntimeException: خطای سیستمی\n\u003C/div\u003E","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorObject"}}}}}}},"/api/tp/settlement/marginPark":{"post":{"tags":["تسویه بدهی موسسه سوم"],"summary":"marginParkSettle","description":"تسویه بدهی پارک حاشیه ای","operationId":"3","parameters":[{"name":"X-Request-ID","in":"header"},{"name":"X-User-IP","in":"header"},{"name":"Authorization","in":"header"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MarginParkSettleRequestModel"}}},"required":true},"responses":{"200":{"description":"\u003Cdiv style='text-align: justify;'\u003E\n\n\u003E * موفق\n\u003C/div\u003E","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SettlementResponseModelMarginParkSettleModel"}}}},"403":{"description":"\u003Cdiv style='text-align: justify;'\u003E\n\n\u003E * AuthorizationException: در صورتی که کاربر دسترسی لازم برای فراخوانی این سرویس را نداشته باشد این خطا رخ می دهد\n\n\u003C/div\u003E","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorObject"}}}},"400":{"description":"\u003Cdiv style='text-align: justify;'\u003E\n\n\u003E * NSPayException: خطای بیزینسی\n\u003C/div\u003E\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorObject"}}}},"500":{"description":"\u003Cdiv style='text-align: justify;'\u003E\n\n\u003E * NSPayRuntimeException: خطای سیستمی\n\u003C/div\u003E","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorObject"}}}}}}},"/api/tp/inquiry/marginPark":{"post":{"tags":["استعلام بدهی موسسه سوم"],"summary":"marginParkInquiry","description":"استعلام بدهی پارک حاشیه ای","operationId":"3_1","parameters":[{"name":"X-Request-ID","in":"header"},{"name":"X-User-IP","in":"header"},{"name":"Authorization","in":"header"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MarginParkInquiryRequestModel"}}},"required":true},"responses":{"200":{"description":"\u003Cdiv style='text-align: justify;'\u003E\n\n\u003E * موفق\n\u003C/div\u003E","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InquiryResponseModelMarginParkInquiryBillModel"}}}},"403":{"description":"\u003Cdiv style='text-align: justify;'\u003E\n\n\u003E * AuthorizationException: در صورتی که کاربر دسترسی لازم برای فراخوانی این سرویس را نداشته باشد این خطا رخ می دهد\n\n\u003C/div\u003E","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorObject"}}}},"400":{"description":"\u003Cdiv style='text-align: justify;'\u003E\n\n\u003E * NSPayException: خطای بیزینسی\n\u003C/div\u003E\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorObject"}}}},"500":{"description":"\u003Cdiv style='text-align: justify;'\u003E\n\n\u003E * NSPayRuntimeException: خطای سیستمی\n\u003C/div\u003E","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorObject"}}}}}}},"/api/tp/settlement/yearlyToll":{"post":{"tags":["تسویه بدهی موسسه سوم"],"summary":"yearlyTollSettle","description":"تسویه عوارض آزادراهی","operationId":"4","parameters":[{"name":"X-Request-ID","in":"header"},{"name":"X-User-IP","in":"header"},{"name":"Authorization","in":"header"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/YearlyTollSettleRequestModel"}}},"required":true},"responses":{"200":{"description":"\u003Cdiv style='text-align: justify;'\u003E\n\n\u003E * موفق\n\u003C/div\u003E","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SettlementResponseModelYearlyTollSettleModel"}}}},"403":{"description":"\u003Cdiv style='text-align: justify;'\u003E\n\n\u003E * AuthorizationException: در صورتی که کاربر دسترسی لازم برای فراخوانی این سرویس را نداشته باشد این خطا رخ می دهد\n\n\u003C/div\u003E","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorObject"}}}},"400":{"description":"\u003Cdiv style='text-align: justify;'\u003E\n\n\u003E * NSPayException: خطای بیزینسی\n\u003C/div\u003E\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorObject"}}}},"500":{"description":"\u003Cdiv style='text-align: justify;'\u003E\n\n\u003E * NSPayRuntimeException: خطای سیستمی\n\u003C/div\u003E","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorObject"}}}}}}},"/api/tp/inquiry/yearlyToll":{"post":{"tags":["استعلام بدهی موسسه سوم"],"summary":"yearlyTollInquiry","description":"استعلام عوارض سالیانه خودرو","operationId":"4_1","parameters":[{"name":"X-Request-ID","in":"header"},{"name":"X-User-IP","in":"header"},{"name":"Authorization","in":"header"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/YearlyTollInquiryRequestModel"}}},"required":true},"responses":{"200":{"description":"\u003Cdiv style='text-align: justify;'\u003E\n\n\u003E * موفق\n\u003C/div\u003E","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InquiryResponseModelYearlyTollInquiryBillModel"}}}},"403":{"description":"\u003Cdiv style='text-align: justify;'\u003E\n\n\u003E * AuthorizationException: در صورتی که کاربر دسترسی لازم برای فراخوانی این سرویس را نداشته باشد این خطا رخ می دهد\n\n\u003C/div\u003E","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorObject"}}}},"400":{"description":"\u003Cdiv style='text-align: justify;'\u003E\n\n\u003E * NSPayException: خطای بیزینسی\n\u003C/div\u003E\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorObject"}}}},"500":{"description":"\u003Cdiv style='text-align: justify;'\u003E\n\n\u003E * NSPayRuntimeException: خطای سیستمی\n\u003C/div\u003E","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorObject"}}}}}}}},"components":{"schemas":{"ErrorObject":{"type":"object","properties":{"errorType":{"type":"string"},"errorCode":{"type":"string"},"generalMessage":{"type":"string"},"details":{"type":"object","additionalProperties":{"type":"string"}}},"description":"error object"},"YearlyTollSettleRequestModel":{"required":["inquiryIds","trackingNumber"],"type":"object","properties":{"inquiryIds":{"type":"array","description":"لیست شناسه های استعلام گرفته شده","example":48498573453,"items":{"type":"integer","description":"لیست شناسه های استعلام گرفته شده","format":"int64","example":48498573453}},"trackingNumber":{"type":"string","description":"شماره پیگیری درخواست تسویه (از ۱ تا ۱۶ رقم)","example":"4849857345387954"}}},"CarLicensePlateInfo":{"type":"object","properties":{"licenseCode1":{"type":"integer","description":"بخش ابتدایی پلاک خودرو که یک عدد 2 رقمی می باشد","format":"int32","example":12},"licenseCode2":{"type":"integer","description":"بخش انتهایی پلاک خودرو که یک عدد 3 رقمی می باشد","format":"int32","example":378},"provinceCode":{"type":"integer","description":"کد استان که یک عدد دو رقمی می باشد","format":"int32","example":11},"alphaCode":{"type":"string","description":"کد آلفا","example":"الف"}},"description":"اطلاعات پلاک خودرو"},"SettlementResponseModelYearlyTollSettleModel":{"type":"object","properties":{"totalAmount":{"type":"number","description":"مبلغ کل بدهی درخواستی برای تسویه","example":978500},"totalPaidAmount":{"type":"number","description":"مبلغ کل بدهی تسویه شده","example":978500},"totalFailedAmount":{"type":"number","description":"مبلغ کل بدهی تسویه نشده","example":978500},"transactionTime":{"type":"string","description":"تاریخ تراکنش در خواست تسویه","format":"date-time"},"settlementsDetail":{"type":"array","description":"جزئیات درخواست تسویه بدهی","example":978500,"items":{"$ref":"#/components/schemas/YearlyTollSettleModel"}},"trackingNumber":{"type":"string","description":"شماره پیگیری درخواست تسویه (از ۱ تا ۱۶ رقم)","example":"48498573453"}}},"YearlyTollBillDetailModel":{"type":"object","properties":{"id":{"type":"string","description":"شناسه استعلام","example":"123456"},"amount":{"type":"number","description":"مبلغ بدهی","example":25000}},"description":"لیست جزئیات موارد تسویه نشده"},"YearlyTollSettleModel":{"type":"object","properties":{"carLicensePlateInfo":{"$ref":"#/components/schemas/CarLicensePlateInfo"},"settledBills":{"type":"array","description":"لیست جزئیات موارد تسویه شده","items":{"$ref":"#/components/schemas/YearlyTollBillDetailModel"}},"nonSettledBills":{"type":"array","description":"لیست جزئیات موارد تسویه نشده","items":{"$ref":"#/components/schemas/YearlyTollBillDetailModel"}}},"description":"جزئیات درخواست تسویه بدهی","example":978500},"TrafficSettleRequestModel":{"required":["inquiryIds","trackingNumber"],"type":"object","properties":{"inquiryIds":{"type":"array","description":"لیست شناسه های استعلام گرفته شده","example":48498573453,"items":{"type":"integer","description":"لیست شناسه های استعلام گرفته شده","format":"int64","example":48498573453}},"trackingNumber":{"type":"string","description":"شماره پیگیری درخواست تسویه (از ۱ تا ۱۶ رقم)","example":"4849857345387954"}}},"SettlementResponseModelTrafficSettleModel":{"type":"object","properties":{"totalAmount":{"type":"number","description":"مبلغ کل بدهی درخواستی برای تسویه","example":978500},"totalPaidAmount":{"type":"number","description":"مبلغ کل بدهی تسویه شده","example":978500},"totalFailedAmount":{"type":"number","description":"مبلغ کل بدهی تسویه نشده","example":978500},"transactionTime":{"type":"string","description":"تاریخ تراکنش در خواست تسویه","format":"date-time"},"settlementsDetail":{"type":"array","description":"جزئیات درخواست تسویه بدهی","example":978500,"items":{"$ref":"#/components/schemas/TrafficSettleModel"}},"trackingNumber":{"type":"string","description":"شماره پیگیری درخواست تسویه (از ۱ تا ۱۶ رقم)","example":"48498573453"}}},"TrafficBillDetailModel":{"type":"object","properties":{"id":{"type":"string","description":"شناسه استعلام","example":"123456"},"amount":{"type":"number","description":"مبلغ بدهی","example":25000},"traverseDate":{"type":"string","description":"تاریخ بدهی","format":"date-time"}},"description":"لیست جزئیات موارد تسویه نشده"},"TrafficSettleModel":{"type":"object","properties":{"carLicensePlateInfo":{"$ref":"#/components/schemas/CarLicensePlateInfo"},"settledBills":{"type":"array","description":"لیست جزئیات موارد تسویه شده","items":{"$ref":"#/components/schemas/TrafficBillDetailModel"}},"nonSettledBills":{"type":"array","description":"لیست جزئیات موارد تسویه نشده","items":{"$ref":"#/components/schemas/TrafficBillDetailModel"}}},"description":"جزئیات درخواست تسویه بدهی","example":978500},"MarginParkSettleRequestModel":{"required":["inquiryIds","trackingNumber"],"type":"object","properties":{"inquiryIds":{"type":"array","description":"لیست شناسه های استعلام گرفته شده","example":48498573453,"items":{"type":"integer","description":"لیست شناسه های استعلام گرفته شده","format":"int64","example":48498573453}},"trackingNumber":{"type":"string","description":"شماره پیگیری درخواست تسویه (از ۱ تا ۱۶ رقم)","example":"4849857345387954"}}},"MarginParkBillDetailModel":{"type":"object","properties":{"id":{"type":"string","description":"شناسه استعلام","example":"123456"},"amount":{"type":"number","description":"مبلغ بدهی","example":25000},"fromDate":{"type":"string","description":"زمان شروع پارک خودرو در محل","format":"date-time"},"endDate":{"type":"string","description":"زمان پایان پارک خودرو در محل","format":"date-time"}},"description":"لیست جزئیات موارد تسویه نشده"},"MarginParkSettleModel":{"type":"object","properties":{"carLicensePlateInfo":{"$ref":"#/components/schemas/CarLicensePlateInfo"},"settledBills":{"type":"array","description":"لیست جزئیات موارد تسویه شده","items":{"$ref":"#/components/schemas/MarginParkBillDetailModel"}},"nonSettledBills":{"type":"array","description":"لیست جزئیات موارد تسویه نشده","items":{"$ref":"#/components/schemas/MarginParkBillDetailModel"}}},"description":"جزئیات درخواست تسویه بدهی","example":978500},"SettlementResponseModelMarginParkSettleModel":{"type":"object","properties":{"totalAmount":{"type":"number","description":"مبلغ کل بدهی درخواستی برای تسویه","example":978500},"totalPaidAmount":{"type":"number","description":"مبلغ کل بدهی تسویه شده","example":978500},"totalFailedAmount":{"type":"number","description":"مبلغ کل بدهی تسویه نشده","example":978500},"transactionTime":{"type":"string","description":"تاریخ تراکنش در خواست تسویه","format":"date-time"},"settlementsDetail":{"type":"array","description":"جزئیات درخواست تسویه بدهی","example":978500,"items":{"$ref":"#/components/schemas/MarginParkSettleModel"}},"trackingNumber":{"type":"string","description":"شماره پیگیری درخواست تسویه (از ۱ تا ۱۶ رقم)","example":"48498573453"}}},"FreewaySettleRequestModel":{"required":["inquiryIds","trackingNumber"],"type":"object","properties":{"inquiryIds":{"type":"array","description":"لیست شناسه های استعلام گرفته شده","example":48498573453,"items":{"type":"integer","description":"لیست شناسه های استعلام گرفته شده","format":"int64","example":48498573453}},"trackingNumber":{"type":"string","description":"شماره پیگیری درخواست تسویه (از ۱ تا ۱۶ رقم)","example":"4849857345387954"}}},"FreewayBillDetailModel":{"type":"object","properties":{"id":{"type":"string","description":"شناسه استعلام","example":"123456"},"amount":{"type":"number","description":"مبلغ بدهی","example":25000},"freewayTitle":{"type":"string","description":"عنوان آزادراه","example":"قزوین(سلطان آباد) - زنجان"},"issueDate":{"type":"string","description":"تاریخ صدور","format":"date-time"},"traverseDate":{"type":"string","description":"تاریخ بدهی","format":"date-time"}},"description":"لیست جزئیات موارد تسویه نشده"},"FreewaySettleModel":{"type":"object","properties":{"carLicensePlateInfo":{"$ref":"#/components/schemas/CarLicensePlateInfo"},"settledBills":{"type":"array","description":"لیست جزئیات موارد تسویه شده","items":{"$ref":"#/components/schemas/FreewayBillDetailModel"}},"nonSettledBills":{"type":"array","description":"لیست جزئیات موارد تسویه نشده","items":{"$ref":"#/components/schemas/FreewayBillDetailModel"}}},"description":"جزئیات درخواست تسویه بدهی","example":978500},"SettlementResponseModelFreewaySettleModel":{"type":"object","properties":{"totalAmount":{"type":"number","description":"مبلغ کل بدهی درخواستی برای تسویه","example":978500},"totalPaidAmount":{"type":"number","description":"مبلغ کل بدهی تسویه شده","example":978500},"totalFailedAmount":{"type":"number","description":"مبلغ کل بدهی تسویه نشده","example":978500},"transactionTime":{"type":"string","description":"تاریخ تراکنش در خواست تسویه","format":"date-time"},"settlementsDetail":{"type":"array","description":"جزئیات درخواست تسویه بدهی","example":978500,"items":{"$ref":"#/components/schemas/FreewaySettleModel"}},"trackingNumber":{"type":"string","description":"شماره پیگیری درخواست تسویه (از ۱ تا ۱۶ رقم)","example":"48498573453"}}},"CarLicensePlateModel":{"required":["alphaCode","licenseCode1","licenseCode2","provinceCode"],"type":"object","properties":{"licenseCode1":{"type":"integer","description":"بخش ابتدایی پلاک خودرو که یک عدد 2 رقمی می باشد","format":"int32","example":12},"licenseCode2":{"type":"integer","description":"بخش انتهایی پلاک خودرو که یک عدد 3 رقمی می باشد","format":"int32","example":378},"provinceCode":{"type":"integer","description":"کد استان که یک عدد دو رقمی می باشد","format":"int32","example":11},"alphaCode":{"type":"string","description":"کد آلفا","example":"الف"}},"description":"اطلاعات پلاک خودرو"},"YearlyTollInquiryRequestModel":{"required":["carLicensePlateModel","motorNumber","ownerSSN","vin"],"type":"object","properties":{"carLicensePlateModel":{"$ref":"#/components/schemas/CarLicensePlateModel"},"vin":{"maxLength":17,"minLength":17,"type":"string","description":"کد شناسایی 17 رقمی یا اصطلاحا شماره شاسی وسیله نقلیه","example":"abcd123abc2580214"},"motorNumber":{"maxLength":30,"minLength":0,"type":"string","description":"شماره موتور وسیله نقلیه","example":"2GR5478932"},"ownerSSN":{"type":"string","description":"کد ملی مالک وسیله نقلیه","example":"0012547896"}}},"InquiryResponseModelYearlyTollInquiryBillModel":{"type":"object","properties":{"totalDebt":{"type":"number","description":"مبلغ بدهی کل","example":978500},"bills":{"type":"array","description":"فهرست اطلاعات بدهی ها","items":{"$ref":"#/components/schemas/YearlyTollInquiryBillModel"}}}},"YearlyTollInquiryBillModel":{"type":"object","properties":{"id":{"type":"string","description":"شناسه استعلام","example":"123456"},"amount":{"type":"number","description":"مبلغ بدهی","example":25000},"model":{"type":"string","description":"سال ساخت وسیله نقلیه","example":"1398"},"motorNumber":{"type":"string","description":"شماره موتور وسله نقلیه","example":"2GR5478932"},"chassisNumber":{"type":"string","description":"شماره شاسی وسیله نقلیه","example":"NAAN01CE4KH504423"},"system":{"type":"string","description":"سیستم وسیله نقلیه","example":"پژو"},"vehicleType":{"type":"string","description":"کاربری وسیله نقلیه","example":"سواری"}},"description":"فهرست اطلاعات بدهی ها"},"TrafficInquiryRequestModel":{"required":["carLicensePlateModel"],"type":"object","properties":{"carLicensePlateModel":{"$ref":"#/components/schemas/CarLicensePlateModel"}}},"InquiryResponseModelTrafficInquiryBillModel":{"type":"object","properties":{"totalDebt":{"type":"number","description":"مبلغ بدهی کل","example":978500},"bills":{"type":"array","description":"فهرست اطلاعات بدهی ها","items":{"$ref":"#/components/schemas/TrafficInquiryBillModel"}}}},"TrafficInquiryBillModel":{"type":"object","properties":{"id":{"type":"string","description":"شناسه استعلام","example":"123456"},"amount":{"type":"number","description":"مبلغ بدهی","example":25000},"traverseDate":{"type":"string","description":"تاریخ بدهی","format":"date-time"}},"description":"فهرست اطلاعات بدهی ها"},"MarginParkInquiryRequestModel":{"required":["carLicensePlateModel"],"type":"object","properties":{"carLicensePlateModel":{"$ref":"#/components/schemas/CarLicensePlateModel"}}},"InquiryResponseModelMarginParkInquiryBillModel":{"type":"object","properties":{"totalDebt":{"type":"number","description":"مبلغ بدهی کل","example":978500},"bills":{"type":"array","description":"فهرست اطلاعات بدهی ها","items":{"$ref":"#/components/schemas/MarginParkInquiryBillModel"}}}},"MarginParkInquiryBillModel":{"type":"object","properties":{"id":{"type":"string","description":"شناسه استعلام","example":"123456"},"amount":{"type":"number","description":"مبلغ بدهی","example":25000},"streetName":{"type":"string","description":"نام خیابان","example":"صرافها شمالی"},"fromDate":{"type":"string","description":"زمان شروع پارک خودرو در محل","format":"date-time"},"endDate":{"type":"string","description":"زمان پایان پارک خودرو در محل","format":"date-time"}},"description":"فهرست اطلاعات بدهی ها"},"FreewayInquiryRequestModel":{"required":["carLicensePlateModel"],"type":"object","properties":{"carLicensePlateModel":{"$ref":"#/components/schemas/CarLicensePlateModel"}}},"FreewayInquiryBillModel":{"type":"object","properties":{"id":{"type":"string","description":"شناسه استعلام","example":"123456"},"amount":{"type":"number","description":"مبلغ بدهی","example":25000},"freewayTitle":{"type":"string","description":"عنوان آزادراه","example":"قزوین(سلطان آباد) - زنجان"},"issueDate":{"type":"string","description":"تاریخ صدور","format":"date-time"},"traverseDate":{"type":"string","description":"تاریخ بدهی","format":"date-time"}},"description":"فهرست اطلاعات بدهی ها"},"InquiryResponseModelFreewayInquiryBillModel":{"type":"object","properties":{"totalDebt":{"type":"number","description":"مبلغ بدهی کل","example":978500},"bills":{"type":"array","description":"فهرست اطلاعات بدهی ها","items":{"$ref":"#/components/schemas/FreewayInquiryBillModel"}}}},"TokenRefreshRequestModel":{"required":["refreshToken"],"type":"object","properties":{"refreshToken":{"type":"string","description":"توکن تازه سازی","example":"asfdsgfdddgfdg.hfhg"}}},"TokenModel":{"type":"object","properties":{"accessToken":{"type":"string","description":"توکن دسترسی"},"refreshToken":{"type":"string","description":"توکن تازه سازی"},"accessTokenExpiration":{"type":"string","description":"زمان انقضا توکن دسترسی","format":"date-time"},"refreshTokenExpiration":{"type":"string","description":"زمان انقضا توکن تازه سازی","format":"date-time"}}},"LoginRequestModel":{"required":["password","username"],"type":"object","properties":{"username":{"type":"string","description":"نام کاربری","example":"custom app"},"password":{"type":"string","description":"کلمه عبور","example":"123456"}}},"LoginResponseModel":{"type":"object","properties":{"username":{"type":"string","description":"نام کاربری"},"token":{"$ref":"#/components/schemas/TokenModel"}}},"GUIDResponseModel":{"type":"object","properties":{"guid":{"type":"string","description":"کد GUID ویجت","example":"5d441c98-9f99-47b5-b994-8e130f6e7080"},"thirdPartyId":{"type":"integer","description":"شناسه موسسه سوم","format":"int64","example":123456}}}}}}
