body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  color: #333;
  margin: 0;
}

side-menu, redoc {
  display: block;
  padding: 10px 20px;
  box-sizing: border-box;
}

side-menu {
  position: fixed;
  width: 260px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;;
  background-color: #E9E9F9;
}

redoc {
  margin-left: 260px;
}
