body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  color: #333;
  margin: 0;
  line-height: 1.5;
}

side-menu, redoc {
  display: block;
  box-sizing: border-box;
}

api-info, side-menu {
  display: block;
  padding: 10px 20px;
}

side-menu {
  position: fixed;
  width: 260px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;;
  background-color: #f2f2f2;
}

redoc {
  margin-left: 260px;
}

pre {
  white-space: pre-wrap;
  background-color: #f2f2f2;
  padding: 10px;
  overflow-x: auto;
  line-height: normal;
}

code {
  background-color: #f2f2f2;
}
