name: E2E Tests

on:
  push:
    branches:
      - 'main'
  pull_request:

jobs:
  build-and-e2e:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: npm ci
      - run: npm run bundle
      - run: npm run e2e
